In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

In [2]:
pd.options.display.max_rows = 100

In [3]:
color = sns.color_palette()

In [4]:
data = pd.read_csv('Python for DS/Final project/train.csv')

In [5]:
data.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [6]:
data.shape

(10000, 20)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.4+ MB

In [8]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [9]:
square_stat = data.groupby(['Rooms'])['Square'].mean()
square_stat

Rooms
0.0      81.620358
1.0      41.323277
2.0      56.788214
3.0      76.903234
4.0      98.377544
5.0     122.614941
6.0      59.414334
10.0     59.964120
19.0     42.006046
Name: Square, dtype: float64

In [10]:
data.loc[~(data['Rooms'].between(1, 5))]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
377,5927,57,10.0,59.056975,36.223072,10.0,22,22.0,2002,0.090799,B,B,74,19083,2,NaN,5,15,B,317265.323792
1397,12638,27,0.0,138.427694,136.215499,0.0,4,3.0,2016,0.075424,B,B,11,3097,0,NaN,0,0,B,268394.744389
1454,8491,1,19.0,42.006046,21.779288,7.0,17,17.0,2014,0.007122,B,B,1,264,0,NaN,0,1,B,78364.616704
1981,7917,27,0.0,212.932361,211.231125,0.0,2,3.0,2008,0.211401,B,B,9,1892,0,NaN,0,1,B,302211.260887
2170,14003,99,6.0,59.414334,38.702244,6.0,7,9.0,1969,0.033494,B,B,66,10573,1,1322.0,3,8,B,229661.964416
2269,7317,27,0.0,41.790881,NaN,0.0,13,0.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,98129.976788
3911,770,28,0.0,49.483501,NaN,0.0,16,0.0,2015,0.118537,B,B,30,6207,1,1183.0,1,0,B,217009.338463
4366,456,6,0.0,81.491446,NaN,0.0,4,0.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,212864.799112
4853,3224,27,0.0,2.377248,0.873147,0.0,1,0.0,1977,0.017647,B,B,2,469,0,NaN,0,0,B,126596.941798
6149,3159,88,0.0,38.697117,19.345131,9.0,9,16.0,1982,0.127376,B,B,43,8429,3,NaN,3,9,B,158998.110646
8834,9443,27,0.0,87.762616,85.125471,0.0,5,15.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,219281.918007
8849,14865,9,10.0,60.871266,38.420681,10.0,3,2.0,1994,0.161532,B,B,25,5648,1,30.0,2,4,B,172329.270863

In [11]:
rooms_id = pd.Series()

In [12]:
rooms_id = data.loc[~(data['Rooms'].between(1, 5)), 'Id']
rooms_id = pd.Series(rooms_id)
rooms_id.reset_index(drop=True, inplace=True)
rooms_id

0      5927
1     12638
2      8491
3      7917
4     14003
5      7317
6       770
7       456
8      3224
9      3159
10     9443
11    14865
Name: Id, dtype: int64

In [13]:
data.loc[data['Square'] > 300]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
4262,28,9,2.0,604.705972,NaN,1.0,17,18.0,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,187717.242538
4690,2307,102,1.0,409.425181,410.639749,10.0,4,4.0,2016,0.238617,B,B,26,3889,6,705.0,3,6,B,90470.430830
6977,11602,30,2.0,641.065193,638.163193,10.0,20,19.0,2019,0.000078,B,B,22,6398,141,1046.0,3,23,B,133529.681562

In [14]:
type(rooms_id)

pandas.core.series.Series

In [15]:
num_rooms = pd.Series([2, 5, 1, 6, 2, 1, 2, 3, 0, 1, 3, 2])
num_rooms

0     2
1     5
2     1
3     6
4     2
5     1
6     2
7     3
8     0
9     1
10    3
11    2
dtype: int64

In [16]:
for i in range(len(num_rooms)):
    data.loc[data['Id']==rooms_id[i], 'Rooms'] = num_rooms[i]

In [17]:
square_stat[2]

56.78821360752913

In [18]:
data.loc[data['Id'] == 28, 'Square'] = square_stat[2]

In [19]:
data.loc[data['Id'] == 2307, 'Square'] = square_stat[1]

In [20]:
data.loc[data['Id'] == 11602, 'Square'] = square_stat[2]

In [21]:
data.loc[(data['Square'] < 15) & (data['LifeSquare'] > 15), 'Square'] = data['LifeSquare']

In [22]:
data.loc[(data['Square'] < 15) & (data['Rooms'] == 1), 'Square'] = square_stat[1]

In [23]:
data.loc[(data['Square'] < 15) & (data['Rooms'] == 3), 'Square'] = square_stat[3]

In [24]:
data.loc[data['Rooms'] == 0]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
4853,3224,27,0.0,2.377248,0.873147,0.0,1,0.0,1977,0.017647,B,B,2,469,0,NaN,0,0,B,126596.941798

In [25]:
data = data.loc[~(data['Rooms'] == 0), :]
data

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,8.903972e-02,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,6.998930e-05,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,4.963726e-02,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,4.378852e-01,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,1.233889e-02,B,B,35,5776,1,2078.0,2,4,B,150226.531644
5,12915,59,3.0,80.384479,46.683720,12.0,5,17.0,2011,3.094791e-01,B,B,35,7715,4,990.0,0,6,B,215898.447742
6,14549,154,2.0,62.254114,37.160377,7.0,3,5.0,1960,4.605564e-01,B,B,20,4386,14,NaN,1,5,B,296021.204377
7,11993,74,2.0,80.312926,NaN,0.0,14,0.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,221244.156664
8,5172,1,2.0,64.511437,NaN,1.0,9,17.0,1977,7.122317e-03,B,B,1,264,0,NaN,0,1,B,229102.795999
9,8649,23,1.0,46.461409,18.915552,8.0,13,17.0,2014,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,95380.220993
10,15370,28,2.0,46.304907,27.922584,6.0,8,9.0,1973,1.185374e-01,B,B,30,6207,1,1183.0,1,0,B,204243.553129
11,12427,31,3.0,68.808859,45.736906,7.0,1,8.0,1959,0.000000e+00,B,B,23,3684,2,NaN,0,4,B,165534.541425
12,6452,13,2.0,54.522805,31.759753,1.0,8,12.0,1999,9.079910e-02,B,B,74,19083,2,NaN,5,15,B,229220.372609
13,2408,57,3.0,68.102739,39.311493,8.0,6,12.0,1980,1.332153e-01,B,B,49,11395,3,1406.0,3,4,A,252481.908323
14,10953,27,1.0,53.769097,52.408027,1.0,5,4.0,1977,7.215758e-02,B,B,2,629,1,NaN,0,0,A,140647.565937
15,2823,85,3.0,73.612225,53.892089,6.0,4,9.0,1979,3.717782e-02,B,B,52,11217,1,2300.0,1,7,B,89084.327876
16,2119,27,2.0,49.360648,31.993964,5.0,6,5.0,1983,5.181543e-02,B,B,5,1227,0,NaN,0,0,B,117000.381287
17,3000,34,2.0,57.969964,32.012483,9.0,6,14.0,2001,6.975336e-02,B,B,53,13670,4,NaN,1,11,B,231828.437667
18,2829,57,1.0,44.513481,23.113423,8.0,6,12.0,1983,1.332153e-01,B,B,49,11395,3,1406.0,3,4,A,183743.230464
19,4909,19,3.0,110.959792,56.996765,11.0,16,25.0,2012,9.913630e-04,B,B,33,6783,3,NaN,1,9,B,394895.325987
20,8862,0,3.0,103.605292,47.799426,10.0,12,17.0,2002,3.198094e-01,B,B,25,4756,16,2857.0,5,8,B,521919.057400
21,11935,27,2.0,64.711835,NaN,1.0,15,1.0,1977,2.114012e-01,B,B,9,1892,0,NaN,0,1,B,127200.026511
22,11852,48,1.0,41.668650,20.207762,10.0,19,22.0,1996,4.112463e-02,B,B,46,9515,5,NaN,1,10,B,215083.969056
23,6641,54,3.0,118.907612,NaN,0.0,2,0.0,1977,6.076152e-03,B,B,30,5285,0,645.0,6,6,B,571069.052600
24,7704,150,3.0,62.180536,44.169694,5.0,4,5.0,1964,2.074133e-02,B,B,24,5613,5,1340.0,2,5,B,241718.099527
25,5073,74,2.0,82.667915,NaN,1.0,16,17.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,244145.827069
26,4378,27,3.0,106.958871,0.641822,0.0,17,0.0,2018,7.215758e-02,B,B,2,629,1,NaN,0,0,A,337299.867936
27,7550,23,2.0,64.556209,NaN,1.0,8,17.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,173910.923723
28,8054,23,1.0,42.530043,43.967759,1.0,3,9.0,2014,3.465608e-02,B,B,0,168,0,NaN,0,0,B,95338.198549
29,522,11,2.0,48.372232,31.007581,6.0,4,9.0,1972,1.696760e-04,B,B,36,5992,0,NaN,1,1,B,213374.166403
30,89,50,2.0,39.435351,23.377687,7.0,9,9.0,1965,7.658515e-03,B,B,35,7077,56,2301.0,3,19,B,283877.617142
31,4785,61,1.0,41.765156,19.343186,9.0,12,16.0,1984,3.003225e-01,B,B,52,10311,6,NaN,1,9,B,189007.238944
32,13253,27,2.0,63.679116,37.275775,1.0,9,15.0,1977,1.764705e-02,B,B,2,469,0,NaN,0,0,B,178721.706337
33,13905,44,1.0,34.767227,18.209648,6.0,7,9.0,1972,3.612229e-02,B,B,24,4378,0,1036.0,1,1,B,154928.809938
34,8384,90,2.0,42.176782,28.085690,5.0,2,5.0,1965,2.650887e-01,B,B,37,5288,0,1937.0,3,2,B,176344.820406
35,6486,200,3.0,85.280389,58.447967,9.0,6,5.0,1960,0.000000e+00,B,B,33,7425,1,NaN,2,5,B,402871.916317
36,11703,23,1.0,41.118766,NaN,1.0,4,17.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,103510.223601
37,14591,43,2.0,43.701662,26.350358,5.0,5,9.0,1961,1.501689e-02,B,B,17,3079,59,2890.0,0,8,B,287056.012543
38,8224,177,3.0,77.873936,48.991133,12.0,9,25.0,2012,0.000000e+00,B,B,36,6714,2,2672.0,0,2,B,191550.121357
39,9371,23,2.0,60.503248,NaN,0.0,16,0.0,1977,3.465608e-02,B,B,0,168,0,NaN,0,0,B,229778.057902
40,10739,99,2.0,45.257139,32.613826,5.0,4,5.0,1971,3.349371e-02,B,B,66,10573,1,1322.0,3,8,B,171266.949427
41,1853,101,3.0,58.419816,37.275614,5.0,5,5.0,1963,2.258250e-01,A,B,41,6558,7,1548.0,3,2,B,197456.920814
42,9833,1,2.0,56.494318,54.723569,0.0,9,17.0,1977,7.122317e-03,B,B,1,264,0,NaN,0,1,B,196078.907289
43,175,23,2.0,58.692133,NaN,1.0,16,17.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,184501.011225
44,10521,38,3.0,104.211396,106.340403,0.0,20,0.0,2017,6.075305e-02,B,B,15,2787,2,520.0,0,7,B,435462.048070
45,7008,21,2.0,48.851742,33.533432,5.0,5,5.0,1970,1.944893e-01,B,B,47,8004,3,125.0,3,5,B,183826.316522
46,1821,23,2.0,49.929489,NaN,1.0,9,12.0,1977,3.465608e-02,B,B,0,168,0,NaN,0,0,B,88464.425395
47,14292,103,1.0,41.538138,23.292935,8.0,7,16.0,1981,1.442311e-02,B,B,19,3806,4,NaN,0,3,B,234052.265527
48,7596,23,1.0,47.080100,46.807989,12.0,3,9.0,1977,1.407296e-02,B,B,2,475,0,NaN,0,0,B,96029.167877
49,13393,98,1.0,41.270614,20.455945,7.0,8,14.0,2003,1.957811e-01,B,B,23,5212,6,NaN,3,2,B,214733.342258
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9950,15216,53,2.0,59.262415,37.203271,10.0,11,17.0,2016,4.963726e-02,B,B,34,7759,0,229.0,1,3,B,308901.352000
9951,9237,25,1.0,33.516313,31.086243,1.0,13,11.0,2015,6.975336e-02,B,B,53,13670,4,NaN,1,11,B,148066.435795
9952,4490,105,2.0,52.320284,32.839770,8.0,9,14.0,1979,4.024276e-02,B,B,25,3478,11,2729.0,3,1,B,325950.624774
9953,5365,1,2.0,61.049491,NaN,0.0,11,17.0,1977,7.122317e-03,B,B,1,264,0,NaN,0,1,B,190085.168584
9954,583,27,3.0,84.250710,4.187885,1.0,15,1.0,2016,7.215758e-02,B,B,2,629,1,NaN,0,0,A,236647.781363
9955,2288,137,2.0,39.381630,24.092106,7.0,7,9.0,1965,4.986339e-02,B,B,18,3746,9,75.0,3,1,B,212498.645635
9956,10715,13,1.0,38.475794,20.461320,10.0,17,22.0,1997,9.079910e-02,B,B,74,19083,2,NaN,5,15,B,178752.979404
9957,4553,101,2.0,47.557663,31.239622,5.0,5,5.0,1971,2.258250e-01,A,B,41,6558,7,1548.0,3,2,B,195791.744727
9958,12878,46,1.0,39.143939,22.650690,8.0,14,12.0,1981,0.000000e+00,B,B,47,11319,0,1145.0,3,5,B,182459.513851
9959,10361,0,1.0,32.416925,19.257869,6.0,6,5.0,1963,3.198094e-01,B,B,25,4756,16,2857.0,5,8,B,125579.315184
9960,9307,1,2.0,57.376642,NaN,0.0,8,25.0,2016,7.122317e-03,B,B,1,264,0,NaN,0,1,B,104450.496477
9961,1579,23,1.0,27.331108,NaN,1.0,10,12.0,1977,3.465608e-02,B,B,0,168,0,NaN,0,0,B,60825.032060
9962,4660,158,2.0,63.131655,41.867913,8.0,9,8.0,1939,4.203159e-02,B,B,37,6856,84,1940.0,2,5,B,87268.098968
9963,15035,1,2.0,66.547650,NaN,1.0,13,17.0,1977,7.122317e-03,B,B,1,264,0,NaN,0,1,B,184050.533213
9964,10463,27,3.0,49.574590,45.590573,1.0,18,25.0,2013,7.215758e-02,B,B,2,629,1,NaN,0,0,A,145025.095667
9965,6612,27,2.0,59.460685,NaN,0.0,15,19.0,1977,2.114012e-01,B,B,9,1892,0,NaN,0,1,B,135784.320930
9966,4116,88,2.0,46.166911,31.225909,6.0,4,9.0,1973,1.273759e-01,B,B,43,8429,3,NaN,3,9,B,195581.329951
9967,3322,124,1.0,36.509791,20.174542,9.0,3,12.0,1969,1.220903e-01,B,B,29,6566,7,1894.0,4,0,B,166649.244035
9968,6653,17,2.0,41.157437,27.489713,6.0,3,19.0,1967,0.000000e+00,B,B,18,3374,5,620.0,1,2,B,87265.399045
9969,9470,77,3.0,50.623669,37.129826,6.0,4,9.0,1976,6.998930e-05,B,B,46,10309,1,240.0,1,16,B,229768.874305
9970,1612,84,3.0,53.430413,34.603687,6.0,8,9.0,1970,1.496664e-01,B,B,22,4789,2,4087.0,4,1,B,220804.817110
9971,16050,67,2.0,58.629682,36.330029,9.0,19,17.0,1989,1.004557e-01,B,B,43,7227,0,NaN,1,6,A,228845.682509
9972,6097,6,3.0,82.147338,NaN,1.0,17,17.0,1977,2.432045e-01,B,B,5,1564,0,540.0,0,0,B,222068.370598
9973,12590,115,2.0,48.201451,33.396431,8.0,15,14.0,1972,1.800000e-09,B,B,16,3681,73,1815.0,2,5,B,197405.312185
9974,2159,30,1.0,33.227093,32.639166,1.0,4,4.0,2016,7.815280e-05,B,B,22,6398,141,1046.0,3,23,B,65949.315881
9975,5071,27,2.0,60.055527,NaN,12.0,16,15.0,1977,7.215758e-02,B,B,2,629,1,NaN,0,0,A,190325.071232
9976,3621,22,2.0,58.853794,NaN,1.0,10,17.0,1977,1.185374e-01,B,B,30,6207,1,1183.0,1,0,B,175229.645872
9977,10650,54,2.0,38.599779,22.740244,6.0,2,12.0,1970,6.076152e-03,B,B,30,5285,0,645.0,6,6,B,174497.101781
9978,13725,1,2.0,67.510526,NaN,1.0,10,17.0,1977,7.122317e-03,B,B,1,264,0,NaN,0,1,B,185996.664227
9979,12758,64,2.0,56.203601,34.292901,8.0,13,17.0,1988,1.356498e-01,B,B,46,7960,6,350.0,3,11,B,339230.931543
9980,15654,10,2.0,49.975125,32.786612,6.0,5,9.0,1972,2.827977e-01,B,B,33,8667,2,NaN,0,6,B,203000.197806
9981,13352,77,2.0,53.537800,30.979054,8.0,10,12.0,1977,6.998930e-05,B,B,46,10309,1,240.0,1,16,B,242356.408174
9982,12805,8,1.0,39.195153,22.158768,9.0,12,12.0,1968,4.378852e-01,B,B,23,5735,3,1084.0,0,5,B,177449.715863
9983,2705,6,2.0,64.311707,61.920700,1.0,12,17.0,2015,2.432045e-01,B,B,5,1564,0,540.0,0,0,B,164356.212221
9984,2237,52,3.0,64.074977,47.633428,6.0,11,9.0,1983,3.711490e-01,B,B,34,7065,1,750.0,2,5,B,226434.880156
9985,16159,27,1.0,38.968338,NaN,1.0,10,1.0,1977,2.114012e-01,B,B,9,1892,0,NaN,0,1,B,95529.569405
9986,2996,1,2.0,64.994245,NaN,1.0,9,22.0,1977,7.122317e-03,B,B,1,264,0,NaN,0,1,B,200332.511658
9987,15623,23,2.0,55.620092,NaN,0.0,2,4.0,1977,3.465608e-02,B,B,0,168,0,NaN,0,0,B,115797.553006
9988,14025,53,2.0,54.167124,33.766477,8.0,5,23.0,1987,4.963726e-02,B,B,34,7759,0,229.0,1,3,B,261095.834383
9989,4145,96,3.0,90.055233,47.860231,11.0,26,24.0,2005,4.111635e-02,B,B,53,14892,4,NaN,1,4,B,441108.911237
9990,15233,1,3.0,57.373889,39.688445,5.0,2,5.0,1962,3.627009e-02,B,B,6,1318,1,200.0,1,1,B,163807.542987
9991,11553,3,3.0,101.622794,51.628780,12.0,18,17.0,2000,2.650887e-01,B,B,37,5288,0,1937.0,3,2,B,212883.501504
9992,14333,150,3.0,78.249637,49.385096,10.0,5,16.0,1976,3.003225e-01,B,B,52,10311,6,NaN,1,9,B,342418.758888
9993,48,13,3.0,80.631333,48.899083,10.0,11,14.0,1999,9.079910e-02,B,B,74,19083,2,NaN,5,15,B,350684.628560
9994,4158,23,2.0,64.864198,NaN,1.0,17,17.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,171323.515653
9995,77,32,2.0,50.401785,30.476203,5.0,6,5.0,1968,1.356498e-01,B,B,46,7960,6,350.0,3,11,B,196684.316040
9996,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,0.000000e+00,B,B,30,5562,0,NaN,0,5,A,189050.289571
9997,5123,27,1.0,47.939008,NaN,1.0,12,16.0,2015,7.215758e-02,B,B,2,629,1,NaN,0,0,A,159143.805370
9998,5400,75,2.0,43.602562,33.840147,8.0,1,5.0,1961,3.074667e-01,B,A,30,5048,9,325.0,2,5,B,181595.339808
9999,6306,128,1.0,38.666645,21.157874,8.0,7,17.0,1990,0.000000e+00,B,B,27,4798,0,30.0,2,8,B,218714.077615

In [26]:
data.loc[data['LifeSquare'].isna()]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
7,11993,74,2.0,80.312926,NaN,0.0,14,0.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,221244.156664
8,5172,1,2.0,64.511437,NaN,1.0,9,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,229102.795999
21,11935,27,2.0,64.711835,NaN,1.0,15,1.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,127200.026511
23,6641,54,3.0,118.907612,NaN,0.0,2,0.0,1977,0.006076,B,B,30,5285,0,645.0,6,6,B,571069.052600
25,5073,74,2.0,82.667915,NaN,1.0,16,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,244145.827069
27,7550,23,2.0,64.556209,NaN,1.0,8,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,173910.923723
36,11703,23,1.0,41.118766,NaN,1.0,4,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,103510.223601
39,9371,23,2.0,60.503248,NaN,0.0,16,0.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B,229778.057902
43,175,23,2.0,58.692133,NaN,1.0,16,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,184501.011225
46,1821,23,2.0,49.929489,NaN,1.0,9,12.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B,88464.425395
54,16334,1,1.0,42.414176,NaN,1.0,14,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,156476.614348
57,3203,23,2.0,56.218702,NaN,1.0,3,3.0,1977,0.005767,B,B,1,388,0,NaN,0,0,B,90303.665683
61,4191,1,2.0,65.023899,NaN,1.0,10,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,197343.797985
63,7605,6,1.0,42.505532,NaN,1.0,6,12.0,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,113617.219571
64,9723,52,2.0,64.141152,NaN,1.0,5,17.0,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,158148.936484
65,11398,62,1.0,41.194188,NaN,0.0,6,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,114063.092041
70,10362,27,2.0,79.227049,NaN,0.0,9,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,167023.973143
86,9613,148,3.0,127.481583,NaN,1.0,16,1.0,2012,0.313925,B,B,22,4625,11,3855.0,2,10,B,510700.444735
98,9753,23,1.0,41.845698,NaN,1.0,14,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,110620.629320
103,11765,23,2.0,48.760132,NaN,1.0,3,3.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B,113250.426500
104,2930,9,2.0,62.347154,NaN,1.0,6,1.0,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,184172.975639
115,12377,27,2.0,60.445855,NaN,1.0,13,1.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,213798.185151
117,3975,1,2.0,65.009279,NaN,1.0,9,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,186403.484189
125,8691,1,2.0,55.233213,NaN,1.0,13,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,184324.900886
139,9742,1,2.0,63.672611,NaN,1.0,11,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,194510.147890
143,5460,74,1.0,50.145176,NaN,1.0,8,12.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,171901.087408
146,9892,62,2.0,71.304763,NaN,1.0,13,20.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,170564.408720
152,14141,23,2.0,57.699619,NaN,10.0,2,1.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B,114168.532703
167,7023,1,2.0,71.005575,NaN,0.0,11,9.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,245130.106637
173,5790,27,1.0,47.177184,NaN,1.0,5,4.0,1977,0.075424,B,B,11,3097,0,NaN,0,0,B,109264.474145
174,2347,6,2.0,67.170587,NaN,1.0,11,17.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,192944.379324
182,15527,52,2.0,64.222694,NaN,1.0,16,17.0,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,194618.917757
194,141,62,2.0,67.677603,NaN,1.0,11,16.0,2016,0.072158,B,B,2,629,1,NaN,0,0,A,159654.058378
195,4645,54,2.0,76.312851,NaN,0.0,14,0.0,1977,0.006076,B,B,30,5285,0,645.0,6,6,B,466730.805333
203,7985,62,3.0,88.491397,NaN,1.0,11,1.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,212527.426520
205,7567,27,2.0,74.214090,NaN,1.0,8,17.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,183038.511217
206,12352,6,3.0,82.983722,NaN,1.0,13,17.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,222592.176894
225,883,23,1.0,46.355804,NaN,1.0,3,3.0,1977,0.014073,B,B,2,475,0,NaN,0,0,B,94607.976050
226,4180,45,1.0,40.371077,NaN,1.0,21,22.0,2016,0.195781,B,B,23,5212,6,NaN,3,2,B,230239.555729
229,15620,23,1.0,43.763289,NaN,1.0,3,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,130372.031807
231,2540,6,3.0,82.353023,NaN,0.0,13,17.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,216199.817761
238,3095,23,1.0,34.913284,NaN,1.0,3,15.0,1977,0.005767,B,B,1,388,0,NaN,0,0,B,66379.802258
239,3351,1,1.0,39.056021,NaN,1.0,17,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,153217.051072
242,1351,52,2.0,63.079744,NaN,1.0,5,17.0,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,186059.109906
244,13137,23,1.0,43.790432,NaN,0.0,10,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,121517.604121
246,790,23,1.0,41.074417,NaN,0.0,9,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,117742.435249
252,8139,27,2.0,58.553809,NaN,0.0,7,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,177511.314827
256,4417,1,3.0,81.143560,NaN,1.0,12,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,196269.450082
257,1334,23,1.0,29.401008,NaN,1.0,4,17.0,2019,0.034656,B,B,0,168,0,NaN,0,0,B,71690.969474
284,8418,23,1.0,45.596727,NaN,1.0,17,25.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,143780.699947
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9757,3667,30,1.0,44.876475,NaN,1.0,16,25.0,2017,0.000078,B,B,22,6398,141,1046.0,3,23,B,150815.060587
9765,2745,45,3.0,82.193431,NaN,1.0,17,17.0,1977,0.195781,B,B,23,5212,6,NaN,3,2,B,224868.691522
9767,11149,27,1.0,39.285713,NaN,1.0,14,1.0,2017,0.011654,B,B,4,915,0,NaN,0,0,B,108174.780014
9769,9384,59,3.0,98.607328,NaN,0.0,14,0.0,1977,0.019509,B,B,37,7687,11,176.0,5,5,B,492700.257473
9773,15355,52,1.0,37.323660,NaN,1.0,1,17.0,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,97310.941985
9775,4648,30,1.0,40.365635,NaN,1.0,7,17.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,107492.165545
9777,5479,1,2.0,56.843246,NaN,1.0,11,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,185522.472089
9779,6793,27,1.0,43.108815,NaN,1.0,11,17.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,99530.021887
9783,5942,53,2.0,56.686485,NaN,1.0,8,19.0,2016,0.049637,B,B,34,7759,0,229.0,1,3,B,277189.179446
9787,13482,9,2.0,64.056070,NaN,1.0,8,18.0,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,172608.535101
9814,7560,1,3.0,77.891596,NaN,1.0,8,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,180713.830619
9815,5137,1,2.0,66.424864,NaN,1.0,17,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,230613.243227
9816,4223,6,2.0,66.463294,NaN,1.0,16,17.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,179054.741520
9819,5285,1,3.0,87.872201,NaN,1.0,15,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,252702.055378
9820,8480,23,1.0,38.418639,NaN,1.0,11,12.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B,74987.352760
9821,3469,27,3.0,103.654338,NaN,1.0,5,1.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,289731.184520
9827,6054,23,1.0,40.717990,NaN,1.0,3,4.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B,78606.777118
9830,8556,58,1.0,42.488774,NaN,0.0,15,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,133135.515468
9841,10524,23,3.0,74.907763,NaN,1.0,5,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,172826.849160
9854,3111,27,2.0,64.526680,NaN,1.0,17,19.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,143627.538463
9870,309,27,1.0,37.551366,NaN,1.0,11,1.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,112877.827651
9873,55,1,2.0,65.825598,NaN,1.0,16,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,223995.669369
9880,13740,23,1.0,42.856166,NaN,1.0,13,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,131936.583518
9886,14495,27,2.0,76.370258,NaN,1.0,10,12.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,181589.844931
9893,1913,52,2.0,62.023753,NaN,1.0,11,17.0,2016,0.371149,B,B,34,7065,1,750.0,2,5,B,183213.528975
9908,3171,62,1.0,35.873961,NaN,0.0,25,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,134379.130962
9914,11428,1,2.0,69.407574,NaN,1.0,15,25.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,221718.598852
9917,1901,94,1.0,45.822669,NaN,1.0,7,1.0,1977,0.282798,B,B,33,8667,2,NaN,0,6,B,229936.748542
9923,16273,30,2.0,63.905356,NaN,1.0,6,25.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,189417.357268
9926,10680,1,1.0,41.657661,NaN,1.0,2,22.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,120424.535875
9931,13355,27,2.0,64.261856,NaN,1.0,10,1.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,223719.779293
9936,15173,30,2.0,62.341347,NaN,1.0,19,21.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,174256.265798
9942,9369,1,2.0,56.323990,NaN,1.0,18,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,183882.806975
9944,16160,27,2.0,60.396765,NaN,0.0,10,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,211810.600728
9946,4470,62,3.0,89.915337,NaN,0.0,13,15.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,191229.098911
9948,8438,1,2.0,66.736039,NaN,0.0,16,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,199237.847364
9953,5365,1,2.0,61.049491,NaN,0.0,11,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,190085.168584
9960,9307,1,2.0,57.376642,NaN,0.0,8,25.0,2016,0.007122,B,B,1,264,0,NaN,0,1,B,104450.496477
9961,1579,23,1.0,27.331108,NaN,1.0,10,12.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B,60825.032060
9963,15035,1,2.0,66.547650,NaN,1.0,13,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,184050.533213
9965,6612,27,2.0,59.460685,NaN,0.0,15,19.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,135784.320930
9972,6097,6,3.0,82.147338,NaN,1.0,17,17.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,222068.370598
9975,5071,27,2.0,60.055527,NaN,12.0,16,15.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,190325.071232
9976,3621,22,2.0,58.853794,NaN,1.0,10,17.0,1977,0.118537,B,B,30,6207,1,1183.0,1,0,B,175229.645872
9978,13725,1,2.0,67.510526,NaN,1.0,10,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,185996.664227
9985,16159,27,1.0,38.968338,NaN,1.0,10,1.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,95529.569405
9986,2996,1,2.0,64.994245,NaN,1.0,9,22.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,200332.511658
9987,15623,23,2.0,55.620092,NaN,0.0,2,4.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B,115797.553006
9994,4158,23,2.0,64.864198,NaN,1.0,17,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,171323.515653
9997,5123,27,1.0,47.939008,NaN,1.0,12,16.0,2015,0.072158,B,B,2,629,1,NaN,0,0,A,159143.805370

In [27]:
data.loc[data['Square'] < data['LifeSquare'], :]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
28,8054,23,1.0,42.530043,43.967759,1.0,3,9.0,2014,0.034656,B,B,0,168,0,NaN,0,0,B,95338.198549
44,10521,38,3.0,104.211396,106.340403,0.0,20,0.0,2017,0.060753,B,B,15,2787,2,520.0,0,7,B,435462.048070
52,2301,1,2.0,61.400054,65.224603,0.0,17,22.0,2016,0.007122,B,B,1,264,0,NaN,0,1,B,199215.452229
123,8753,25,3.0,85.952306,89.803753,1.0,4,3.0,2017,0.069753,B,B,53,13670,4,NaN,1,11,B,309688.592681
153,9870,62,1.0,51.831473,53.491301,1.0,5,1.0,2015,0.072158,B,B,2,629,1,NaN,0,0,A,131797.472284
178,2416,57,1.0,29.298168,29.770784,5.0,7,5.0,1964,0.133215,B,B,49,11395,3,1406.0,3,4,A,148991.265200
184,3398,74,1.0,48.743665,51.011232,1.0,12,20.0,2017,0.075779,B,B,6,1437,3,NaN,0,2,B,165071.825722
217,5540,27,3.0,57.643613,59.425078,9.0,16,10.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,198351.892455
234,12633,27,3.0,81.867166,81.884548,0.0,12,19.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,182228.520030
236,3916,1,1.0,43.084413,47.071617,1.0,9,7.0,2017,0.007122,B,B,1,264,0,NaN,0,1,B,169749.173815
237,3851,52,2.0,65.388475,66.591815,1.0,13,17.0,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,180706.641204
271,7674,30,2.0,51.283020,51.575295,1.0,5,17.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,174735.177184
315,14899,27,1.0,37.370830,39.184607,1.0,25,1.0,2015,0.072158,B,B,2,629,1,NaN,0,0,A,126997.374189
342,7815,6,1.0,74.609609,78.533293,1.0,16,1.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,216181.637056
343,716,113,3.0,125.287183,127.477137,19.0,26,24.0,2017,0.050756,B,B,24,5469,1,145.0,0,1,B,522197.035995
358,6006,62,3.0,121.844004,122.497641,1.0,3,3.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,193847.642016
369,61,1,1.0,54.307727,55.926217,1.0,4,1.0,2017,0.007122,B,B,1,264,0,NaN,0,1,B,170313.288861
378,15443,1,1.0,37.885188,40.313322,10.0,12,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,142654.169709
379,8104,52,1.0,37.496336,38.964704,10.0,7,17.0,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,105567.296556
392,15246,1,2.0,64.067854,65.081193,1.0,12,24.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,219119.838433
401,2123,58,3.0,93.905616,94.958481,1.0,3,12.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,209500.276014
478,10391,62,1.0,37.498161,40.371530,1.0,21,25.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,131037.880968
495,10071,27,2.0,34.665783,36.079447,9.0,3,12.0,2016,0.072158,B,B,2,629,1,NaN,0,0,A,103182.855154
498,12796,6,1.0,59.816412,60.823136,1.0,24,1.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,175042.816715
506,9552,23,1.0,105.432181,106.178175,0.0,3,2.0,1977,0.014073,B,B,2,475,0,NaN,0,0,B,218718.046451
544,2467,23,3.0,63.837671,64.300575,1.0,4,4.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B,131822.840338
554,5738,52,2.0,66.795666,67.051654,1.0,3,17.0,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,163644.441984
561,11692,113,2.0,70.566571,70.694221,12.0,28,30.0,2014,0.050756,B,B,24,5469,1,145.0,0,1,B,333862.631152
574,14211,48,1.0,39.357596,40.015989,1.0,21,25.0,2017,0.041125,B,B,46,9515,5,NaN,1,10,B,220648.501332
590,14990,23,2.0,48.449873,263.542020,5.0,6,5.0,1972,0.075779,B,B,6,1437,3,NaN,0,2,B,141780.231857
630,1204,27,2.0,87.711598,88.381356,10.0,9,7.0,2016,0.075424,B,B,11,3097,0,NaN,0,0,B,96928.230595
632,11665,1,2.0,62.690057,64.602939,10.0,19,22.0,2018,0.007122,B,B,1,264,0,NaN,0,1,B,203908.192698
650,15972,1,1.0,44.233536,45.512496,1.0,16,20.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,157795.067034
653,14900,1,1.0,46.817337,48.629670,1.0,8,24.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,168154.854944
661,7842,30,1.0,40.653322,41.172142,1.0,17,20.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,143264.567800
676,2596,27,1.0,40.473710,40.627446,1.0,12,17.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,99751.484978
784,9081,27,1.0,34.396472,35.005440,1.0,14,17.0,2016,0.011654,B,B,4,915,0,NaN,0,0,B,110728.588938
936,3470,134,1.0,40.045620,41.798216,1.0,8,17.0,1977,0.212515,B,B,19,3293,16,628.0,3,7,B,133193.851325
937,5130,45,3.0,77.119007,77.300797,1.0,12,12.0,2018,0.195781,B,B,23,5212,6,NaN,3,2,B,400853.656044
960,5019,187,3.0,80.878166,81.534091,10.0,4,3.0,2015,0.041116,B,B,53,14892,4,NaN,1,4,B,179822.607158
980,2434,30,2.0,61.424774,61.519472,13.0,3,19.0,2015,0.000078,B,B,22,6398,141,1046.0,3,23,B,133166.163513
989,11840,45,2.0,59.529666,59.926817,1.0,8,9.0,2015,0.195781,B,B,23,5212,6,NaN,3,2,B,336460.511920
990,6796,52,2.0,52.413129,54.537501,1.0,13,17.0,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,152762.865852
1009,8960,54,2.0,80.709804,80.762909,1.0,7,1.0,2017,0.006076,B,B,30,5285,0,645.0,6,6,B,448123.294756
1016,769,23,2.0,54.023920,54.834673,10.0,3,3.0,1977,0.005767,B,B,1,388,0,NaN,0,0,B,93991.023578
1048,14898,1,3.0,87.551098,89.940585,1.0,10,22.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,274283.768632
1085,16255,52,2.0,64.273290,67.824563,1.0,5,17.0,2018,0.371149,B,B,34,7065,1,750.0,2,5,B,171519.123342
1102,7142,45,1.0,40.357831,42.115983,1.0,4,17.0,1977,0.195781,B,B,23,5212,6,NaN,3,2,B,250152.938664
1108,2150,34,2.0,61.673568,61.762322,1.0,14,14.0,2018,0.069753,B,B,53,13670,4,NaN,1,11,B,269906.912907
1123,14772,27,1.0,40.632456,41.968805,1.0,16,17.0,2015,0.011654,B,B,4,915,0,NaN,0,0,B,122245.143456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9120,16295,27,1.0,39.423086,40.210469,7.0,5,17.0,1977,0.011654,B,B,4,915,0,NaN,0,0,B,111069.979170
9138,13585,1,1.0,40.198694,40.453828,1.0,14,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,144231.407514
9186,6094,62,1.0,37.590951,39.504184,10.0,10,17.0,2018,0.072158,B,B,2,629,1,NaN,0,0,A,101351.363261
9188,11554,27,3.0,45.389323,45.596982,1.0,14,25.0,2015,0.072158,B,B,2,629,1,NaN,0,0,A,145036.345608
9207,1627,45,3.0,74.970211,78.003428,1.0,9,9.0,2014,0.195781,B,B,23,5212,6,NaN,3,2,B,432356.076410
9210,4873,27,1.0,46.002847,46.757574,10.0,5,17.0,2014,0.011654,B,B,4,915,0,NaN,0,0,B,128863.124150
9250,2905,62,2.0,74.393929,76.775595,0.0,2,2.0,2018,0.072158,B,B,2,629,1,NaN,0,0,A,187744.555119
9265,7230,23,1.0,43.344592,43.695931,0.0,5,25.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,123074.074975
9280,94,1,2.0,52.100800,53.715103,1.0,14,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,202015.101642
9302,15725,6,2.0,59.635938,61.199455,1.0,21,25.0,2015,0.243205,B,B,5,1564,0,540.0,0,0,B,178680.769347
9335,6657,27,2.0,61.041134,62.816836,10.0,7,22.0,2016,0.072158,B,B,2,629,1,NaN,0,0,A,184708.791256
9357,12379,23,1.0,39.822005,42.111973,1.0,4,3.0,2015,0.014073,B,B,2,475,0,NaN,0,0,B,115966.649438
9369,8427,27,2.0,51.718170,55.909389,1.0,17,15.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,134758.355433
9382,14322,1,2.0,62.411905,63.593900,1.0,24,24.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,209817.034644
9384,5784,88,3.0,80.668463,81.872073,12.0,25,25.0,2014,0.127376,B,B,43,8429,3,NaN,3,9,B,384455.619139
9411,10952,45,3.0,78.198416,78.287390,1.0,4,12.0,1977,0.195781,B,B,23,5212,6,NaN,3,2,B,375292.652847
9437,10237,1,1.0,38.197061,41.310276,1.0,14,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,161717.185995
9452,10829,6,1.0,42.113131,43.031967,1.0,11,17.0,2017,0.243205,B,B,5,1564,0,540.0,0,0,B,141932.923534
9465,2430,58,1.0,46.458643,50.663483,1.0,9,9.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,104304.240955
9468,5092,30,1.0,47.347121,48.109952,1.0,21,25.0,2014,0.000078,B,B,22,6398,141,1046.0,3,23,B,143185.427711
9469,3992,1,3.0,87.200625,87.730225,0.0,21,22.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,300180.365669
9476,13789,23,1.0,29.289544,30.492156,0.0,3,4.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B,74202.154932
9484,10374,54,2.0,78.061116,82.171479,1.0,10,1.0,2017,0.006076,B,B,30,5285,0,645.0,6,6,B,426958.079415
9492,5367,1,3.0,81.227389,81.655818,0.0,14,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,218595.265514
9582,3414,6,2.0,60.913076,63.262528,1.0,3,25.0,2018,0.243205,B,B,5,1564,0,540.0,0,0,B,188798.096524
9584,8403,9,2.0,56.690554,56.917296,1.0,8,9.0,1977,0.161532,B,B,25,5648,1,30.0,2,4,B,178622.857430
9589,16638,38,1.0,106.260300,109.246660,1.0,4,1.0,1977,0.060753,B,B,15,2787,2,520.0,0,7,B,509162.416594
9594,7113,62,1.0,43.906426,44.082779,1.0,13,12.0,2017,0.072158,B,B,2,629,1,NaN,0,0,A,113398.504559
9595,7249,6,3.0,73.171947,74.858927,1.0,7,1.0,2016,0.243205,B,B,5,1564,0,540.0,0,0,B,198935.416918
9597,833,27,1.0,44.260288,45.602761,10.0,3,7.0,2015,0.011654,B,B,4,915,0,NaN,0,0,B,127451.321192
9626,3742,1,1.0,53.258610,56.655126,0.0,6,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,161799.240623
9630,10021,27,1.0,41.755282,41.857484,1.0,13,20.0,2014,0.211401,B,B,9,1892,0,NaN,0,1,B,94667.059626
9646,6996,23,2.0,53.054415,54.677693,1.0,3,12.0,2017,0.034656,B,B,0,168,0,NaN,0,0,B,113758.662147
9681,47,2,2.0,45.053898,47.329346,5.0,2,5.0,1967,0.000000,B,B,33,7425,1,NaN,2,5,B,196512.596034
9707,12302,30,1.0,46.072913,48.307844,0.0,4,0.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,161403.094034
9721,396,54,3.0,110.119100,110.333763,1.0,8,1.0,2015,0.006076,B,B,30,5285,0,645.0,6,6,B,491296.245173
9742,9941,46,3.0,64.642890,66.400030,6.0,6,17.0,1981,0.188784,B,B,31,6137,4,NaN,0,1,B,283398.090350
9772,6968,6,3.0,74.505045,75.735479,1.0,15,22.0,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,210702.868554
9793,5766,1,3.0,80.006748,83.793062,0.0,17,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,235519.716480
9799,7483,27,1.0,37.590772,41.074410,1.0,5,19.0,2017,0.211401,B,B,9,1892,0,NaN,0,1,B,95145.924046
9807,10088,30,1.0,37.191204,37.837798,1.0,17,17.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,147568.713397
9826,5270,6,1.0,39.485203,39.525667,1.0,16,17.0,2014,0.243205,B,B,5,1564,0,540.0,0,0,B,124034.514085
9864,8807,38,1.0,46.905050,49.715060,10.0,8,17.0,2019,0.060753,B,B,15,2787,2,520.0,0,7,B,256650.658085
9871,6121,48,1.0,41.783808,41.944790,1.0,17,1.0,2014,0.041125,B,B,46,9515,5,NaN,1,10,B,200879.624324
9878,11441,62,2.0,71.985335,72.453232,0.0,5,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,158841.624543
9884,41,30,2.0,59.015896,59.439082,12.0,5,5.0,2016,0.000078,B,B,22,6398,141,1046.0,3,23,B,126281.142781
9889,12918,23,2.0,51.440463,53.134243,51.0,3,17.0,2017,0.005767,B,B,1,388,0,NaN,0,0,B,88150.012510
9895,2737,27,3.0,123.430072,125.806981,123.0,5,10.0,2015,0.017647,B,B,2,469,0,NaN,0,0,B,234194.837047
9902,14001,73,1.0,44.098768,44.267551,1.0,7,24.0,2014,0.042032,B,B,37,6856,84,1940.0,2,5,B,381937.404161
9910,16568,27,4.0,200.334539,201.627361,25.0,1,2.0,2013,0.041116,B,B,53,14892,4,NaN,1,4,B,528560.506016

In [28]:
data['LifeSquare'] = data['LifeSquare'].fillna(100000)

In [29]:
LifeSquare_stat = data.loc[data['Square'] > data['LifeSquare'], :].groupby(['Rooms'])['LifeSquare'].mean()
LifeSquare_stat

Rooms
1.0     23.380193
2.0     34.104877
3.0     48.840212
4.0     62.572179
5.0     92.196876
6.0    211.231125
Name: LifeSquare, dtype: float64

In [30]:
square_stat = data.groupby(['Rooms'])['Square'].mean()
square_stat

Rooms
1.0     41.305254
2.0     56.513139
3.0     76.977042
4.0     98.377544
5.0    123.447192
6.0    212.932361
Name: Square, dtype: float64

In [31]:
LifeSquare_portion = LifeSquare_stat/square_stat
LifeSquare_portion

Rooms
1.0    0.566034
2.0    0.603486
3.0    0.634478
4.0    0.636041
5.0    0.746853
6.0    0.992010
dtype: float64

In [32]:
LifeSquare_portion[6] = LifeSquare_portion[5]

In [33]:
LifeSquare_portion

Rooms
1.0    0.566034
2.0    0.603486
3.0    0.634478
4.0    0.636041
5.0    0.746853
6.0    0.746853
dtype: float64

In [34]:
#LifeSquare_portion = pd.DataFrame(LifeSquare_portion)
#LifeSquare_portion.reset_index(drop=False, inplace=True)
#LifeSquare_portion

In [35]:
#LifeSquare_portion.rename(columns={0: 'LifeSquare_portion'})
#LifeSquare_portion

In [36]:
#data = pd.merge(data, LifeSquare_stat, on = 'Rooms', how = 'left')
#data

In [37]:
for i in range(6):
    data.loc[(data['Square'] < data['LifeSquare']) & data['Rooms'] == (i+1), 'LifeSquare'] = LifeSquare_portion[i+1] * \
    data['Square']

In [38]:
for i in range(6):
    data.loc[(data['LifeSquare'] < 10) & data['Rooms'] == (i+1) , 'LifeSquare'] = LifeSquare_portion[i+1] * data['Square']

In [39]:
data.loc[data['Id'] == 11993, :]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
7,11993,74,2.0,80.312926,45.459875,0.0,14,0.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,221244.156664

In [40]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9.999000e+03,9999.000000,9999.000000,9999.000000,9999.000000,5202.000000,9999.000000,9999.000000,9999.000000
mean,8383.923692,50.403140,1.888989,56.222584,34.948315,6.273927,8.527453,12.610661,3.990368e+03,0.118868,24.689269,5352.645765,8.040004,1142.904460,1.319632,4.231723,214147.612466
std,4858.988019,43.589143,0.813025,19.071617,14.475723,28.562276,5.240870,6.775139,2.005103e+05,0.119027,17.532023,4006.702533,23.832931,1021.517264,1.493617,4.806395,92872.811296
min,0.000000,0.000000,1.000000,15.988889,9.122863,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4170.500000,20.000000,1.000000,41.781737,23.537923,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153889.327888
50%,8395.000000,36.000000,2.000000,52.534282,32.421214,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192277.326489
75%,12593.000000,75.000000,2.000000,65.901823,43.093948,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249148.484733
max,16798.000000,209.000000,6.000000,275.645284,233.949309,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [41]:
data.loc[data['KitchenSquare'].between(3, 3)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1476,1775,101,1.0,23.583220,18.442768,3.0,3,5.0,1968,0.225825,A,B,41,6558,7,1548.0,3,2,B,108232.647619
2314,5798,59,3.0,109.698926,62.093361,3.0,16,22.0,1977,0.019509,B,B,37,7687,11,176.0,5,5,B,524279.240155
3084,3732,112,1.0,20.213128,13.800281,3.0,5,9.0,1974,0.069660,B,B,31,6119,4,NaN,1,2,B,113050.229914
3794,523,101,1.0,18.509177,15.170851,3.0,5,5.0,1970,0.225825,A,B,41,6558,7,1548.0,3,2,B,115845.861527
4118,828,90,1.0,20.924926,10.651455,3.0,7,5.0,1968,0.265089,B,B,37,5288,0,1937.0,3,2,B,128808.087357
4364,9905,41,1.0,22.691542,13.499648,3.0,7,9.0,1972,0.175055,B,B,36,10055,3,NaN,1,0,B,136682.956950
4650,10940,75,1.0,24.749737,16.531306,3.0,5,5.0,1975,0.307467,B,A,30,5048,9,325.0,2,5,B,86821.619523
5560,16680,23,3.0,67.133598,37.999923,3.0,2,16.0,2015,0.034656,B,B,0,168,0,NaN,0,0,B,132755.210048
5667,4352,104,2.0,28.517666,15.565872,3.0,7,6.0,1931,0.000078,B,B,22,6398,141,1046.0,3,23,B,197245.267664
6155,7729,90,1.0,27.298757,15.250474,3.0,1,5.0,1967,0.265089,B,B,37,5288,0,1937.0,3,2,B,126918.470566
6290,6696,166,3.0,56.565200,38.494058,3.0,3,9.0,1964,0.174739,B,B,17,3379,9,100.0,0,3,B,253259.449036
6533,5027,101,1.0,26.930098,19.343318,3.0,3,5.0,1969,0.225825,A,B,41,6558,7,1548.0,3,2,B,129395.957499
6590,15822,90,1.0,27.098441,16.660669,3.0,3,5.0,1965,0.265089,B,B,37,5288,0,1937.0,3,2,B,124179.702841
6896,7384,29,1.0,28.091273,16.066773,3.0,10,10.0,2003,0.069660,B,B,31,6119,4,NaN,1,2,B,140168.723955
6993,14642,90,1.0,22.682706,14.664334,3.0,5,5.0,1969,0.265089,B,B,37,5288,0,1937.0,3,2,B,118004.829969
7603,4684,101,1.0,26.024441,16.230387,3.0,4,5.0,1968,0.225825,A,B,41,6558,7,1548.0,3,2,B,124121.219513
7694,10476,90,1.0,21.121279,15.202620,3.0,4,5.0,1964,0.265089,B,B,37,5288,0,1937.0,3,2,B,113846.123763
8598,1098,101,1.0,23.015919,15.739110,3.0,3,5.0,1967,0.225825,A,B,41,6558,7,1548.0,3,2,B,132427.987621
8843,14714,44,1.0,25.903220,18.273364,3.0,2,5.0,1969,0.122190,B,B,25,4724,2,1308.0,1,3,B,132711.395602
9033,2915,29,1.0,23.891837,13.949307,3.0,5,9.0,1974,0.069660,B,B,31,6119,4,NaN,1,2,B,124258.914679
9227,15676,182,3.0,49.934561,35.980287,3.0,9,8.0,1938,0.246624,B,B,14,2940,45,NaN,3,6,B,429090.881284
9412,13299,138,1.0,24.769705,12.765132,3.0,5,20.0,1973,0.195781,B,B,23,5212,6,NaN,3,2,B,125586.783086

In [42]:
#KitchenSquare_stat = data.loc[(data['KitchenSquare'].between(5, 1000)) & (data['Square'] > data['KitchenSquare']), \
#         :].groupby(['Rooms'])['KitchenSquare'].apply(lambda x: x.mode())
KitchenSquare_stat = pd.Series([8, 5, 10, 10, 10], index = [1, 2, 3, 4, 5])
KitchenSquare_stat

1     8
2     5
3    10
4    10
5    10
dtype: int64

In [43]:
for i in range(5):
    data.loc[(data['KitchenSquare'].between(0, 4)) & (data['Rooms'] == (i+1)) \
             , 'KitchenSquare'] = KitchenSquare_stat[i+1]

In [44]:
for i in range(5):
    data.loc[(data['KitchenSquare'] > data['Square'] * 0.5) & (data['Rooms'] == (i+1)) \
             , 'KitchenSquare'] = KitchenSquare_stat[i+1]

In [45]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9.999000e+03,9999.000000,9999.000000,9999.000000,9999.000000,5202.000000,9999.000000,9999.000000,9999.000000
mean,8383.923692,50.403140,1.888989,56.222584,34.948315,7.778578,8.527453,12.610661,3.990368e+03,0.118868,24.689269,5352.645765,8.040004,1142.904460,1.319632,4.231723,214147.612466
std,4858.988019,43.589143,0.813025,19.071617,14.475723,2.418129,5.240870,6.775139,2.005103e+05,0.119027,17.532023,4006.702533,23.832931,1021.517264,1.493617,4.806395,92872.811296
min,0.000000,0.000000,1.000000,15.988889,9.122863,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4170.500000,20.000000,1.000000,41.781737,23.537923,6.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153889.327888
50%,8395.000000,36.000000,2.000000,52.534282,32.421214,8.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192277.326489
75%,12593.000000,75.000000,2.000000,65.901823,43.093948,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249148.484733
max,16798.000000,209.000000,6.000000,275.645284,233.949309,43.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [46]:
data.loc[data['KitchenSquare'] < 5]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1981,7917,27,6.0,212.932361,211.231125,0.0,2,3.0,2008,0.211401,B,B,9,1892,0,NaN,0,1,B,302211.260887

In [47]:
data.loc[data['Id'] == 7917, 'LifeSquare'] = LifeSquare_portion[5] * data.loc[data['Id'] == 7917, 'Square']

In [48]:
data.loc[data['Id'] == 7917, 'KitchenSquare'] = KitchenSquare_stat[5]

In [49]:
data.loc[data['Id'] == 7917, :]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1981,7917,27,6.0,212.932361,159.029122,10.0,2,3.0,2008,0.211401,B,B,9,1892,0,NaN,0,1,B,302211.260887

In [50]:
data['HouseFloor'].mode()

0    17.0
dtype: float64

In [51]:
HouseFloor_mode = 17

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9999 entries, 0 to 9999
Data columns (total 20 columns):
Id               9999 non-null int64
DistrictId       9999 non-null int64
Rooms            9999 non-null float64
Square           9999 non-null float64
LifeSquare       9999 non-null float64
KitchenSquare    9999 non-null float64
Floor            9999 non-null int64
HouseFloor       9999 non-null float64
HouseYear        9999 non-null int64
Ecology_1        9999 non-null float64
Ecology_2        9999 non-null object
Ecology_3        9999 non-null object
Social_1         9999 non-null int64
Social_2         9999 non-null int64
Social_3         9999 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      9999 non-null int64
Shops_1          9999 non-null int64
Shops_2          9999 non-null object
Price            9999 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.7+ MB

In [53]:
data.loc[data['HouseFloor'].between(0, 2), 'HouseFloor'] = HouseFloor_mode

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9999 entries, 0 to 9999
Data columns (total 20 columns):
Id               9999 non-null int64
DistrictId       9999 non-null int64
Rooms            9999 non-null float64
Square           9999 non-null float64
LifeSquare       9999 non-null float64
KitchenSquare    9999 non-null float64
Floor            9999 non-null int64
HouseFloor       9999 non-null float64
HouseYear        9999 non-null int64
Ecology_1        9999 non-null float64
Ecology_2        9999 non-null object
Ecology_3        9999 non-null object
Social_1         9999 non-null int64
Social_2         9999 non-null int64
Social_3         9999 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      9999 non-null int64
Shops_1          9999 non-null int64
Shops_2          9999 non-null object
Price            9999 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.7+ MB

In [55]:
#data.loc[data['Floor'] > data['HouseFloor'], 'Floor'] = data['Floor'].median()

In [56]:
data['HouseYear'].mode()

0    1977
dtype: int64

In [57]:
HouseYear_mode = 1977

In [58]:
#data.loc[data['Floor'] > data['HouseFloor'], :]

In [59]:
data.loc[data['HouseYear'] > 2019, 'HouseYear'] = HouseYear_mode

In [60]:
#plt.figure(figsize = (8, 6))
#plt.scatter(data.loc[data['HouseFloor'].between(0, 40), 'HouseFloor'], \
#            data.loc[data['HouseFloor'].between(0, 40), 'Floor'])
#plt.ylabel('Floor')
#plt.xlabel('HouseFloor')

In [61]:
data.loc[data['HouseFloor'] < data['Floor'], 'HouseFloor'] = data['Floor']

In [62]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,9999.000000,5202.000000,9999.000000,9999.000000,9999.000000
mean,8383.923692,50.403140,1.888989,56.222584,34.943094,7.779578,8.527453,14.124112,1984.782878,0.118868,24.689269,5352.645765,8.040004,1142.904460,1.319632,4.231723,214147.612466
std,4858.988019,43.589143,0.813025,19.071617,14.421451,2.416979,5.240870,5.809135,18.349929,0.119027,17.532023,4006.702533,23.832931,1021.517264,1.493617,4.806395,92872.811296
min,0.000000,0.000000,1.000000,15.988889,9.122863,5.000000,1.000000,3.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4170.500000,20.000000,1.000000,41.781737,23.537923,6.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153889.327888
50%,8395.000000,36.000000,2.000000,52.534282,32.421214,8.000000,7.000000,16.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192277.326489
75%,12593.000000,75.000000,2.000000,65.901823,43.093948,9.000000,12.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249148.484733
max,16798.000000,209.000000,6.000000,275.645284,233.949309,43.000000,42.000000,117.000000,2019.000000,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [63]:
data.loc[data['HouseFloor'] < data['Floor'], :]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Healthcare_1, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [64]:
district_stat = data.loc[data['Healthcare_1'].isna(), 'DistrictId'].unique()
district_stat

array([ 35, 154,  74,   1,  23,  31,  13,  27,  34,  19,  48,  11,  61,
       200, 103,  98,  94,  44,  88,  62,  79,   9,  69, 108,  96,  18,
        41,  10,   7,  70,  45,  15,  25, 127,  56,  46, 119,  47,  80,
        83,  91,  92, 187,  36,  28,  21,  93,  85,  12,   2,  67,  57,
        64,  55,  29, 151,  33,  87, 126, 164, 105,  89,   8,  58, 201,
       124, 177, 117, 149, 131, 145,  26,  42, 208, 176,  22, 173, 112,
        78, 161, 138, 146, 191, 129, 169, 128,  17, 178,  68, 150,  97,
        65, 140, 141, 167,  77, 162, 148, 184, 182, 205, 159], dtype=int64)

In [65]:
district_stat = pd.DataFrame(district_stat)
district_stat.nunique()

0    102
dtype: int64

In [66]:
data_corr = data.corr()
data_corr

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
Id,1.000000,0.012917,-0.008317,-0.005616,-0.002012,0.012274,0.001195,-0.010869,0.003386,0.018009,-0.000909,-0.002163,-0.009394,-0.003879,0.001408,-0.008812,0.009781
DistrictId,0.012917,1.000000,0.074999,-0.029028,-0.022940,-0.013028,-0.120465,-0.252137,-0.202993,0.065252,0.246418,0.167428,0.136079,0.304335,0.306116,0.174176,0.265065
Rooms,-0.008317,0.074999,1.000000,0.766622,0.714525,0.144367,-0.007500,-0.048183,-0.042062,-0.030165,0.075419,0.070500,0.013738,0.044912,0.062086,0.052323,0.571414
Square,-0.005616,-0.029028,0.766622,1.000000,0.863347,0.396718,0.118091,0.203616,0.190828,-0.071398,-0.079486,-0.049480,0.022010,-0.039077,-0.033173,0.010331,0.581863
LifeSquare,-0.002012,-0.022940,0.714525,0.863347,1.000000,0.257438,0.076691,0.113088,0.151615,-0.053318,-0.076697,-0.054886,0.022536,-0.028590,-0.031951,0.007364,0.496359
KitchenSquare,0.012274,-0.013028,0.144367,0.396718,0.257438,1.000000,0.174223,0.328490,0.395529,-0.037954,-0.001461,0.028268,-0.037114,-0.049819,-0.034149,-0.006778,0.265677
Floor,0.001195,-0.120465,-0.007500,0.118091,0.076691,0.174223,1.000000,0.544418,0.286178,-0.016257,-0.045108,-0.016738,-0.002285,-0.138294,-0.065673,0.024141,0.128599
HouseFloor,-0.010869,-0.252137,-0.048183,0.203616,0.113088,0.328490,0.544418,1.000000,0.475794,-0.057582,-0.158449,-0.102582,-0.005614,-0.209527,-0.159122,-0.010025,0.092938
HouseYear,0.003386,-0.202993,-0.042062,0.190828,0.151615,0.395529,0.286178,0.475794,1.000000,-0.065223,-0.047163,0.014369,-0.048812,-0.202489,-0.116064,-0.000725,0.035426
Ecology_1,0.018009,0.065252,-0.030165,-0.071398,-0.053318,-0.037954,-0.016257,-0.057582,-0.065223,1.000000,0.026357,0.009161,-0.124102,-0.043547,0.030800,-0.076830,-0.058466
Social_1,-0.000909,0.246418,0.075419,-0.079486,-0.076697,-0.001461,-0.045108,-0.158449,-0.047163,0.026357,1.000000,0.955982,0.023680,0.077133,0.524543,0.526222,0.263198
Social_2,-0.002163,0.167428,0.070500,-0.049480,-0.054886,0.028268,-0.016738,-0.102582,0.014369,0.009161,0.955982,1.000000,0.073344,0.050458,0.473139,0.559119,0.239139
Social_3,-0.009394,0.136079,0.013738,0.022010,0.022536,-0.037114,-0.002285,-0.005614,-0.048812,-0.124102,0.023680,0.073344,1.000000,0.133877,0.286417,0.662112,0.074850
Healthcare_1,-0.003879,0.304335,0.044912,-0.039077,-0.028590,-0.049819,-0.138294,-0.209527,-0.202489,-0.043547,0.077133,0.050458,0.133877,1.000000,0.203177,0.057758,0.138755
Helthcare_2,0.001408,0.306116,0.062086,-0.033173,-0.031951,-0.034149,-0.065673,-0.159122,-0.116064,0.030800,0.524543,0.473139,0.286417,0.203177,1.000000,0.474044,0.253028
Shops_1,-0.008812,0.174176,0.052323,0.010331,0.007364,-0.006778,0.024141,-0.010025,-0.000725,-0.076830,0.526222,0.559119,0.662112,0.057758,0.474044,1.000000,0.180808
Price,0.009781,0.265065,0.571414,0.581863,0.496359,0.265677,0.128599,0.092938,0.035426,-0.058466,0.263198,0.239139,0.074850,0.138755,0.253028,0.180808,1.000000

In [67]:
plt.matshow(data_corr)

In [68]:
#data_corr.to_excel('correlations.xlsx')

In [69]:
data = data.assign(SquarePrice=data['Price']/data['Square'])
data

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,SquarePrice
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,8.903972e-02,...,B,33,7976,5,NaN,0,11,B,184966.930730,3854.958571
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,6.998930e-05,...,B,46,10309,1,240.0,1,16,B,300009.450063,4567.491245
2,4765,53,2.0,44.947953,29.197612,5.0,8,12.0,1968,4.963726e-02,...,B,34,7759,0,229.0,1,3,B,220925.908524,4915.149522
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,4.378852e-01,...,B,23,5735,3,1084.0,0,5,B,175616.227217,3291.591637
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,1.233889e-02,...,B,35,5776,1,2078.0,2,4,B,150226.531644,3788.892642
5,12915,59,3.0,80.384479,46.683720,12.0,5,17.0,2011,3.094791e-01,...,B,35,7715,4,990.0,0,6,B,215898.447742,2685.822560
6,14549,154,2.0,62.254114,37.160377,7.0,3,5.0,1960,4.605564e-01,...,B,20,4386,14,NaN,1,5,B,296021.204377,4755.046491
7,11993,74,2.0,80.312926,45.459875,5.0,14,17.0,1977,7.577876e-02,...,B,6,1437,3,NaN,0,2,B,221244.156664,2754.776456
8,5172,1,2.0,64.511437,36.515690,5.0,9,17.0,1977,7.122317e-03,...,B,1,264,0,NaN,0,1,B,229102.795999,3551.351598
9,8649,23,1.0,46.461409,18.915552,8.0,13,17.0,2014,7.577876e-02,...,B,6,1437,3,NaN,0,2,B,95380.220993,2052.891285
10,15370,28,2.0,46.304907,27.922584,6.0,8,9.0,1973,1.185374e-01,...,B,30,6207,1,1183.0,1,0,B,204243.553129,4410.840392
11,12427,31,3.0,68.808859,45.736906,7.0,1,8.0,1959,0.000000e+00,...,B,23,3684,2,NaN,0,4,B,165534.541425,2405.715537
12,6452,13,2.0,54.522805,31.759753,5.0,8,12.0,1999,9.079910e-02,...,B,74,19083,2,NaN,5,15,B,229220.372609,4204.119231
13,2408,57,3.0,68.102739,39.311493,8.0,6,12.0,1980,1.332153e-01,...,B,49,11395,3,1406.0,3,4,A,252481.908323,3707.367885
14,10953,27,1.0,53.769097,52.408027,8.0,5,5.0,1977,7.215758e-02,...,B,2,629,1,NaN,0,0,A,140647.565937,2615.769530
15,2823,85,3.0,73.612225,53.892089,6.0,4,9.0,1979,3.717782e-02,...,B,52,11217,1,2300.0,1,7,B,89084.327876,1210.183882
16,2119,27,2.0,49.360648,31.993964,5.0,6,6.0,1983,5.181543e-02,...,B,5,1227,0,NaN,0,0,B,117000.381287,2370.316973
17,3000,34,2.0,57.969964,32.012483,9.0,6,14.0,2001,6.975336e-02,...,B,53,13670,4,NaN,1,11,B,231828.437667,3999.113002
18,2829,57,1.0,44.513481,23.113423,8.0,6,12.0,1983,1.332153e-01,...,B,49,11395,3,1406.0,3,4,A,183743.230464,4127.810881
19,4909,19,3.0,110.959792,56.996765,11.0,16,25.0,2012,9.913630e-04,...,B,33,6783,3,NaN,1,9,B,394895.325987,3558.904699
20,8862,0,3.0,103.605292,47.799426,10.0,12,17.0,2002,3.198094e-01,...,B,25,4756,16,2857.0,5,8,B,521919.057400,5037.571416
21,11935,27,2.0,64.711835,36.629122,5.0,15,17.0,1977,2.114012e-01,...,B,9,1892,0,NaN,0,1,B,127200.026511,1965.637764
22,11852,48,1.0,41.668650,20.207762,10.0,19,22.0,1996,4.112463e-02,...,B,46,9515,5,NaN,1,10,B,215083.969056,5161.769600
23,6641,54,3.0,118.907612,67.305794,10.0,2,17.0,1977,6.076152e-03,...,B,30,5285,0,645.0,6,6,B,571069.052600,4802.628223
24,7704,150,3.0,62.180536,44.169694,5.0,4,5.0,1964,2.074133e-02,...,B,24,5613,5,1340.0,2,5,B,241718.099527,3887.359536
25,5073,74,2.0,82.667915,46.792880,5.0,16,17.0,1977,7.577876e-02,...,B,6,1437,3,NaN,0,2,B,244145.827069,2953.332352
26,4378,27,3.0,106.958871,60.542396,10.0,17,17.0,2018,7.215758e-02,...,B,2,629,1,NaN,0,0,A,337299.867936,3153.547378
27,7550,23,2.0,64.556209,36.541032,5.0,8,17.0,1977,7.577876e-02,...,B,6,1437,3,NaN,0,2,B,173910.923723,2693.945722
28,8054,23,1.0,42.530043,24.073466,8.0,3,9.0,2014,3.465608e-02,...,B,0,168,0,NaN,0,0,B,95338.198549,2241.667096
29,522,11,2.0,48.372232,31.007581,6.0,4,9.0,1972,1.696760e-04,...,B,36,5992,0,NaN,1,1,B,213374.166403,4411.087890
30,89,50,2.0,39.435351,23.377687,7.0,9,9.0,1965,7.658515e-03,...,B,35,7077,56,2301.0,3,19,B,283877.617142,7198.556910
31,4785,61,1.0,41.765156,19.343186,9.0,12,16.0,1984,3.003225e-01,...,B,52,10311,6,NaN,1,9,B,189007.238944,4525.476721
32,13253,27,2.0,63.679116,37.275775,5.0,9,15.0,1977,1.764705e-02,...,B,2,469,0,NaN,0,0,B,178721.706337,2806.598421
33,13905,44,1.0,34.767227,18.209648,6.0,7,9.0,1972,3.612229e-02,...,B,24,4378,0,1036.0,1,1,B,154928.809938,4456.173927
34,8384,90,2.0,42.176782,28.085690,5.0,2,5.0,1965,2.650887e-01,...,B,37,5288,0,1937.0,3,2,B,176344.820406,4181.087583
35,6486,200,3.0,85.280389,58.447967,9.0,6,6.0,1960,0.000000e+00,...,B,33,7425,1,NaN,2,5,B,402871.916317,4724.086302
36,11703,23,1.0,41.118766,23.274634,8.0,4,17.0,1977,7.577876e-02,...,B,6,1437,3,NaN,0,2,B,103510.223601,2517.347521
37,14591,43,2.0,43.701662,26.350358,5.0,5,9.0,1961,1.501689e-02,...,B,17,3079,59,2890.0,0,8,B,287056.012543,6568.537689
38,8224,177,3.0,77.873936,48.991133,12.0,9,25.0,2012,0.000000e+00,...,B,36,6714,2,2672.0,0,2,B,191550.121357,2459.746237
39,9371,23,2.0,60.503248,34.246917,5.0,16,17.0,1977,3.465608e-02,...,B,0,168,0,NaN,0,0,B,229778.057902,3797.780520
40,10739,99,2.0,45.257139,32.613826,5.0,4,5.0,1971,3.349371e-02,...,B,66,10573,1,1322.0,3,8,B,171266.949427,3784.307933
41,1853,101,3.0,58.419816,37.275614,5.0,5,5.0,1963,2.258250e-01,...,B,41,6558,7,1548.0,3,2,B,197456.920814,3379.964810
42,9833,1,2.0,56.494318,54.723569,5.0,9,17.0,1977,7.122317e-03,...,B,1,264,0,NaN,0,1,B,196078.907289,3470.772192
43,175,23,2.0,58.692133,33.221764,5.0,16,17.0,1977,7.577876e-02,...,B,6,1437,3,NaN,0,2,B,184501.011225,3143.539040
44,10521,38,3.0,104.211396,58.987230,10.0,20,20.0,2017,6.075305e-02,...,B,15,2787,2,520.0,0,7,B,435462.048070,4178.641361
45,7008,21,2.0,48.851742,33.533432,5.0,5,5.0,1970,1.944893e-01,...,B,47,8004,3,125.0,3,5,B,183826.316522,3762.942908
46,1821,23,2.0,49.929489,28.261806,5.0,9,12.0,1977,3.465608e-02,...,B,0,168,0,NaN,0,0,B,88464.425395,1771.787131
47,14292,103,1.0,41.538138,23.292935,8.0,7,16.0,1981,1.442311e-02,...,B,19,3806,4,NaN,0,3,B,234052.265527,5634.635428
48,7596,23,1.0,47.080100,46.807989,12.0,3,9.0,1977,1.407296e-02,...,B,2,475,0,NaN,0,0,B,96029.167877,2039.697608
49,13393,98,1.0,41.270614,20.455945,7.0,8,14.0,2003,1.957811e-01,...,B,23,5212,6,NaN,3,2,B,214733.342258,5203.056702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9950,15216,53,2.0,59.262415,37.203271,10.0,11,17.0,2016,4.963726e-02,...,B,34,7759,0,229.0,1,3,B,308901.352000,5212.432711
9951,9237,25,1.0,33.516313,31.086243,8.0,13,13.0,2015,6.975336e-02,...,B,53,13670,4,NaN,1,11,B,148066.435795,4417.742417
9952,4490,105,2.0,52.320284,32.839770,8.0,9,14.0,1979,4.024276e-02,...,B,25,3478,11,2729.0,3,1,B,325950.624774,6229.909345
9953,5365,1,2.0,61.049491,34.556110,5.0,11,17.0,1977,7.122317e-03,...,B,1,264,0,NaN,0,1,B,190085.168584,3113.624113
9954,583,27,3.0,84.250710,47.688796,10.0,15,17.0,2016,7.215758e-02,...,B,2,629,1,NaN,0,0,A,236647.781363,2808.852070
9955,2288,137,2.0,39.381630,24.092106,7.0,7,9.0,1965,4.986339e-02,...,B,18,3746,9,75.0,3,1,B,212498.645635,5395.882477
9956,10715,13,1.0,38.475794,20.461320,10.0,17,22.0,1997,9.079910e-02,...,B,74,19083,2,NaN,5,15,B,178752.979404,4645.855473
9957,4553,101,2.0,47.557663,31.239622,5.0,5,5.0,1971,2.258250e-01,...,B,41,6558,7,1548.0,3,2,B,195791.744727,4116.933677
9958,12878,46,1.0,39.143939,22.650690,8.0,14,14.0,1981,0.000000e+00,...,B,47,11319,0,1145.0,3,5,B,182459.513851,4661.245616
9959,10361,0,1.0,32.416925,19.257869,6.0,6,6.0,1963,3.198094e-01,...,B,25,4756,16,2857.0,5,8,B,125579.315184,3873.881224
9960,9307,1,2.0,57.376642,32.477151,5.0,8,25.0,2016,7.122317e-03,...,B,1,264,0,NaN,0,1,B,104450.496477,1820.435851
9961,1579,23,1.0,27.331108,15.470346,8.0,10,12.0,1977,3.465608e-02,...,B,0,168,0,NaN,0,0,B,60825.032060,2225.487211
9962,4660,158,2.0,63.131655,41.867913,8.0,9,9.0,1939,4.203159e-02,...,B,37,6856,84,1940.0,2,5,B,87268.098968,1382.319213
9963,15035,1,2.0,66.547650,37.668256,5.0,13,17.0,1977,7.122317e-03,...,B,1,264,0,NaN,0,1,B,184050.533213,2765.695477
9964,10463,27,3.0,49.574590,45.590573,10.0,18,25.0,2013,7.215758e-02,...,B,2,629,1,NaN,0,0,A,145025.095667,2925.391759
9965,6612,27,2.0,59.460685,33.656790,5.0,15,19.0,1977,2.114012e-01,...,B,9,1892,0,NaN,0,1,B,135784.320930,2283.598335
9966,4116,88,2.0,46.166911,31.225909,6.0,4,9.0,1973,1.273759e-01,...,B,43,8429,3,NaN,3,9,B,195581.329951,4236.396290
9967,3322,124,1.0,36.509791,20.174542,9.0,3,12.0,1969,1.220903e-01,...,B,29,6566,7,1894.0,4,0,B,166649.244035,4564.508348
9968,6653,17,2.0,41.157437,27.489713,6.0,3,19.0,1967,0.000000e+00,...,B,18,3374,5,620.0,1,2,B,87265.399045,2120.282631
9969,9470,77,3.0,50.623669,37.129826,6.0,4,9.0,1976,6.998930e-05,...,B,46,10309,1,240.0,1,16,B,229768.874305,4538.763764
9970,1612,84,3.0,53.430413,34.603687,6.0,8,9.0,1970,1.496664e-01,...,B,22,4789,2,4087.0,4,1,B,220804.817110,4132.568029
9971,16050,67,2.0,58.629682,36.330029,9.0,19,19.0,1989,1.004557e-01,...,B,43,7227,0,NaN,1,6,A,228845.682509,3903.239359
9972,6097,6,3.0,82.147338,46.498216,10.0,17,17.0,1977,2.432045e-01,...,B,5,1564,0,540.0,0,0,B,222068.370598,2703.293569
9973,12590,115,2.0,48.201451,33.396431,8.0,15,15.0,1972,1.800000e-09,...,B,16,3681,73,1815.0,2,5,B,197405.312185,4095.422621
9974,2159,30,1.0,33.227093,32.639166,8.0,4,4.0,2016,7.815280e-05,...,B,22,6398,141,1046.0,3,23,B,65949.315881,1984.805442
9975,5071,27,2.0,60.055527,33.993491,12.0,16,16.0,1977,7.215758e-02,...,B,2,629,1,NaN,0,0,A,190325.071232,3169.151651
9976,3621,22,2.0,58.853794,33.313270,5.0,10,17.0,1977,1.185374e-01,...,B,30,6207,1,1183.0,1,0,B,175229.645872,2977.372115
9977,10650,54,2.0,38.599779,22.740244,6.0,2,12.0,1970,6.076152e-03,...,B,30,5285,0,645.0,6,6,B,174497.101781,4520.676142
9978,13725,1,2.0,67.510526,38.213277,5.0,10,17.0,1977,7.122317e-03,...,B,1,264,0,NaN,0,1,B,185996.664227,2755.076510
9979,12758,64,2.0,56.203601,34.292901,8.0,13,17.0,1988,1.356498e-01,...,B,46,7960,6,350.0,3,11,B,339230.931543,6035.750794
9980,15654,10,2.0,49.975125,32.786612,6.0,5,9.0,1972,2.827977e-01,...,B,33,8667,2,NaN,0,6,B,203000.197806,4062.024785
9981,13352,77,2.0,53.537800,30.979054,8.0,10,12.0,1977,6.998930e-05,...,B,46,10309,1,240.0,1,16,B,242356.408174,4526.827929
9982,12805,8,1.0,39.195153,22.158768,9.0,12,12.0,1968,4.378852e-01,...,B,23,5735,3,1084.0,0,5,B,177449.715863,4527.338286
9983,2705,6,2.0,64.311707,61.920700,5.0,12,17.0,2015,2.432045e-01,...,B,5,1564,0,540.0,0,0,B,164356.212221,2555.618868
9984,2237,52,3.0,64.074977,47.633428,6.0,11,11.0,1983,3.711490e-01,...,B,34,7065,1,750.0,2,5,B,226434.880156,3533.905001
9985,16159,27,1.0,38.968338,22.057418,8.0,10,17.0,1977,2.114012e-01,...,B,9,1892,0,NaN,0,1,B,95529.569405,2451.466339
9986,2996,1,2.0,64.994245,36.788976,5.0,9,22.0,1977,7.122317e-03,...,B,1,264,0,NaN,0,1,B,200332.511658,3082.311523
9987,15623,23,2.0,55.620092,31.482883,5.0,2,4.0,1977,3.465608e-02,...,B,0,168,0,NaN,0,0,B,115797.553006,2081.937452
9988,14025,53,2.0,54.167124,33.766477,8.0,5,23.0,1987,4.963726e-02,...,B,34,7759,0,229.0,1,3,B,261095.834383,4820.190113
9989,4145,96,3.0,90.055233,47.860231,11.0,26,26.0,2005,4.111635e-02,...,B,53,14892,4,NaN,1,4,B,441108.911237,4898.204103
9990,15233,1,3.0,57.373889,39.688445,5.0,2,5.0,1962,3.627009e-02,...,B,6,1318,1,200.0,1,1,B,163807.542987,2855.088732
9991,11553,3,3.0,101.622794,51.628780,12.0,18,18.0,2000,2.650887e-01,...,B,37,5288,0,1937.0,3,2,B,212883.501504,2094.840074
9992,14333,150,3.0,78.249637,49.385096,10.0,5,16.0,1976,3.003225e-01,...,B,52,10311,6,NaN,1,9,B,342418.758888,4375.978887
9993,48,13,3.0,80.631333,48.899083,10.0,11,14.0,1999,9.079910e-02,...,B,74,19083,2,NaN,5,15,B,350684.628560,4349.235153
9994,4158,23,2.0,64.864198,36.715365,5.0,17,17.0,1977,7.577876e-02,...,B,6,1437,3,NaN,0,2,B,171323.515653,2641.264676
9995,77,32,2.0,50.401785,30.476203,5.0,6,6.0,1968,1.356498e-01,...,B,46,7960,6,350.0,3,11,B,196684.316040,3902.328381
9996,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,0.000000e+00,...,B,30,5562,0,NaN,0,5,A,189050.289571,4553.064815
9997,5123,27,1.0,47.939008,27.135125,8.0,12,16.0,2015,7.215758e-02,...,B,2,629,1,NaN,0,0,A,159143.805370,3319.714218
9998,5400,75,2.0,43.602562,33.840147,8.0,1,5.0,1961,3.074667e-01,...,A,30,5048,9,325.0,2,5,B,181595.339808,4164.786044
9999,6306,128,1.0,38.666645,21.157874,8.0,7,17.0,1990,0.000000e+00,...,B,27,4798,0,30.0,2,8,B,218714.077615,5656.401733

In [70]:
district_stat = data.groupby(['DistrictId'])['SquarePrice'].mean()

district_stat = pd.DataFrame(district_stat)
district_stat.sort_values(by=['SquarePrice'], inplace=True, ascending=False)

district_stat.reset_index(inplace=True)

In [71]:
district_dict = dict(zip(district_stat['DistrictId'], district_stat['SquarePrice']))

In [72]:
data = data.assign(AvPrice_by_dist=1)
data

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,SquarePrice,AvPrice_by_dist
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,8.903972e-02,...,33,7976,5,NaN,0,11,B,184966.930730,3854.958571,1
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,6.998930e-05,...,46,10309,1,240.0,1,16,B,300009.450063,4567.491245,1
2,4765,53,2.0,44.947953,29.197612,5.0,8,12.0,1968,4.963726e-02,...,34,7759,0,229.0,1,3,B,220925.908524,4915.149522,1
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,4.378852e-01,...,23,5735,3,1084.0,0,5,B,175616.227217,3291.591637,1
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,1.233889e-02,...,35,5776,1,2078.0,2,4,B,150226.531644,3788.892642,1
5,12915,59,3.0,80.384479,46.683720,12.0,5,17.0,2011,3.094791e-01,...,35,7715,4,990.0,0,6,B,215898.447742,2685.822560,1
6,14549,154,2.0,62.254114,37.160377,7.0,3,5.0,1960,4.605564e-01,...,20,4386,14,NaN,1,5,B,296021.204377,4755.046491,1
7,11993,74,2.0,80.312926,45.459875,5.0,14,17.0,1977,7.577876e-02,...,6,1437,3,NaN,0,2,B,221244.156664,2754.776456,1
8,5172,1,2.0,64.511437,36.515690,5.0,9,17.0,1977,7.122317e-03,...,1,264,0,NaN,0,1,B,229102.795999,3551.351598,1
9,8649,23,1.0,46.461409,18.915552,8.0,13,17.0,2014,7.577876e-02,...,6,1437,3,NaN,0,2,B,95380.220993,2052.891285,1
10,15370,28,2.0,46.304907,27.922584,6.0,8,9.0,1973,1.185374e-01,...,30,6207,1,1183.0,1,0,B,204243.553129,4410.840392,1
11,12427,31,3.0,68.808859,45.736906,7.0,1,8.0,1959,0.000000e+00,...,23,3684,2,NaN,0,4,B,165534.541425,2405.715537,1
12,6452,13,2.0,54.522805,31.759753,5.0,8,12.0,1999,9.079910e-02,...,74,19083,2,NaN,5,15,B,229220.372609,4204.119231,1
13,2408,57,3.0,68.102739,39.311493,8.0,6,12.0,1980,1.332153e-01,...,49,11395,3,1406.0,3,4,A,252481.908323,3707.367885,1
14,10953,27,1.0,53.769097,52.408027,8.0,5,5.0,1977,7.215758e-02,...,2,629,1,NaN,0,0,A,140647.565937,2615.769530,1
15,2823,85,3.0,73.612225,53.892089,6.0,4,9.0,1979,3.717782e-02,...,52,11217,1,2300.0,1,7,B,89084.327876,1210.183882,1
16,2119,27,2.0,49.360648,31.993964,5.0,6,6.0,1983,5.181543e-02,...,5,1227,0,NaN,0,0,B,117000.381287,2370.316973,1
17,3000,34,2.0,57.969964,32.012483,9.0,6,14.0,2001,6.975336e-02,...,53,13670,4,NaN,1,11,B,231828.437667,3999.113002,1
18,2829,57,1.0,44.513481,23.113423,8.0,6,12.0,1983,1.332153e-01,...,49,11395,3,1406.0,3,4,A,183743.230464,4127.810881,1
19,4909,19,3.0,110.959792,56.996765,11.0,16,25.0,2012,9.913630e-04,...,33,6783,3,NaN,1,9,B,394895.325987,3558.904699,1
20,8862,0,3.0,103.605292,47.799426,10.0,12,17.0,2002,3.198094e-01,...,25,4756,16,2857.0,5,8,B,521919.057400,5037.571416,1
21,11935,27,2.0,64.711835,36.629122,5.0,15,17.0,1977,2.114012e-01,...,9,1892,0,NaN,0,1,B,127200.026511,1965.637764,1
22,11852,48,1.0,41.668650,20.207762,10.0,19,22.0,1996,4.112463e-02,...,46,9515,5,NaN,1,10,B,215083.969056,5161.769600,1
23,6641,54,3.0,118.907612,67.305794,10.0,2,17.0,1977,6.076152e-03,...,30,5285,0,645.0,6,6,B,571069.052600,4802.628223,1
24,7704,150,3.0,62.180536,44.169694,5.0,4,5.0,1964,2.074133e-02,...,24,5613,5,1340.0,2,5,B,241718.099527,3887.359536,1
25,5073,74,2.0,82.667915,46.792880,5.0,16,17.0,1977,7.577876e-02,...,6,1437,3,NaN,0,2,B,244145.827069,2953.332352,1
26,4378,27,3.0,106.958871,60.542396,10.0,17,17.0,2018,7.215758e-02,...,2,629,1,NaN,0,0,A,337299.867936,3153.547378,1
27,7550,23,2.0,64.556209,36.541032,5.0,8,17.0,1977,7.577876e-02,...,6,1437,3,NaN,0,2,B,173910.923723,2693.945722,1
28,8054,23,1.0,42.530043,24.073466,8.0,3,9.0,2014,3.465608e-02,...,0,168,0,NaN,0,0,B,95338.198549,2241.667096,1
29,522,11,2.0,48.372232,31.007581,6.0,4,9.0,1972,1.696760e-04,...,36,5992,0,NaN,1,1,B,213374.166403,4411.087890,1
30,89,50,2.0,39.435351,23.377687,7.0,9,9.0,1965,7.658515e-03,...,35,7077,56,2301.0,3,19,B,283877.617142,7198.556910,1
31,4785,61,1.0,41.765156,19.343186,9.0,12,16.0,1984,3.003225e-01,...,52,10311,6,NaN,1,9,B,189007.238944,4525.476721,1
32,13253,27,2.0,63.679116,37.275775,5.0,9,15.0,1977,1.764705e-02,...,2,469,0,NaN,0,0,B,178721.706337,2806.598421,1
33,13905,44,1.0,34.767227,18.209648,6.0,7,9.0,1972,3.612229e-02,...,24,4378,0,1036.0,1,1,B,154928.809938,4456.173927,1
34,8384,90,2.0,42.176782,28.085690,5.0,2,5.0,1965,2.650887e-01,...,37,5288,0,1937.0,3,2,B,176344.820406,4181.087583,1
35,6486,200,3.0,85.280389,58.447967,9.0,6,6.0,1960,0.000000e+00,...,33,7425,1,NaN,2,5,B,402871.916317,4724.086302,1
36,11703,23,1.0,41.118766,23.274634,8.0,4,17.0,1977,7.577876e-02,...,6,1437,3,NaN,0,2,B,103510.223601,2517.347521,1
37,14591,43,2.0,43.701662,26.350358,5.0,5,9.0,1961,1.501689e-02,...,17,3079,59,2890.0,0,8,B,287056.012543,6568.537689,1
38,8224,177,3.0,77.873936,48.991133,12.0,9,25.0,2012,0.000000e+00,...,36,6714,2,2672.0,0,2,B,191550.121357,2459.746237,1
39,9371,23,2.0,60.503248,34.246917,5.0,16,17.0,1977,3.465608e-02,...,0,168,0,NaN,0,0,B,229778.057902,3797.780520,1
40,10739,99,2.0,45.257139,32.613826,5.0,4,5.0,1971,3.349371e-02,...,66,10573,1,1322.0,3,8,B,171266.949427,3784.307933,1
41,1853,101,3.0,58.419816,37.275614,5.0,5,5.0,1963,2.258250e-01,...,41,6558,7,1548.0,3,2,B,197456.920814,3379.964810,1
42,9833,1,2.0,56.494318,54.723569,5.0,9,17.0,1977,7.122317e-03,...,1,264,0,NaN,0,1,B,196078.907289,3470.772192,1
43,175,23,2.0,58.692133,33.221764,5.0,16,17.0,1977,7.577876e-02,...,6,1437,3,NaN,0,2,B,184501.011225,3143.539040,1
44,10521,38,3.0,104.211396,58.987230,10.0,20,20.0,2017,6.075305e-02,...,15,2787,2,520.0,0,7,B,435462.048070,4178.641361,1
45,7008,21,2.0,48.851742,33.533432,5.0,5,5.0,1970,1.944893e-01,...,47,8004,3,125.0,3,5,B,183826.316522,3762.942908,1
46,1821,23,2.0,49.929489,28.261806,5.0,9,12.0,1977,3.465608e-02,...,0,168,0,NaN,0,0,B,88464.425395,1771.787131,1
47,14292,103,1.0,41.538138,23.292935,8.0,7,16.0,1981,1.442311e-02,...,19,3806,4,NaN,0,3,B,234052.265527,5634.635428,1
48,7596,23,1.0,47.080100,46.807989,12.0,3,9.0,1977,1.407296e-02,...,2,475,0,NaN,0,0,B,96029.167877,2039.697608,1
49,13393,98,1.0,41.270614,20.455945,7.0,8,14.0,2003,1.957811e-01,...,23,5212,6,NaN,3,2,B,214733.342258,5203.056702,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9950,15216,53,2.0,59.262415,37.203271,10.0,11,17.0,2016,4.963726e-02,...,34,7759,0,229.0,1,3,B,308901.352000,5212.432711,1
9951,9237,25,1.0,33.516313,31.086243,8.0,13,13.0,2015,6.975336e-02,...,53,13670,4,NaN,1,11,B,148066.435795,4417.742417,1
9952,4490,105,2.0,52.320284,32.839770,8.0,9,14.0,1979,4.024276e-02,...,25,3478,11,2729.0,3,1,B,325950.624774,6229.909345,1
9953,5365,1,2.0,61.049491,34.556110,5.0,11,17.0,1977,7.122317e-03,...,1,264,0,NaN,0,1,B,190085.168584,3113.624113,1
9954,583,27,3.0,84.250710,47.688796,10.0,15,17.0,2016,7.215758e-02,...,2,629,1,NaN,0,0,A,236647.781363,2808.852070,1
9955,2288,137,2.0,39.381630,24.092106,7.0,7,9.0,1965,4.986339e-02,...,18,3746,9,75.0,3,1,B,212498.645635,5395.882477,1
9956,10715,13,1.0,38.475794,20.461320,10.0,17,22.0,1997,9.079910e-02,...,74,19083,2,NaN,5,15,B,178752.979404,4645.855473,1
9957,4553,101,2.0,47.557663,31.239622,5.0,5,5.0,1971,2.258250e-01,...,41,6558,7,1548.0,3,2,B,195791.744727,4116.933677,1
9958,12878,46,1.0,39.143939,22.650690,8.0,14,14.0,1981,0.000000e+00,...,47,11319,0,1145.0,3,5,B,182459.513851,4661.245616,1
9959,10361,0,1.0,32.416925,19.257869,6.0,6,6.0,1963,3.198094e-01,...,25,4756,16,2857.0,5,8,B,125579.315184,3873.881224,1
9960,9307,1,2.0,57.376642,32.477151,5.0,8,25.0,2016,7.122317e-03,...,1,264,0,NaN,0,1,B,104450.496477,1820.435851,1
9961,1579,23,1.0,27.331108,15.470346,8.0,10,12.0,1977,3.465608e-02,...,0,168,0,NaN,0,0,B,60825.032060,2225.487211,1
9962,4660,158,2.0,63.131655,41.867913,8.0,9,9.0,1939,4.203159e-02,...,37,6856,84,1940.0,2,5,B,87268.098968,1382.319213,1
9963,15035,1,2.0,66.547650,37.668256,5.0,13,17.0,1977,7.122317e-03,...,1,264,0,NaN,0,1,B,184050.533213,2765.695477,1
9964,10463,27,3.0,49.574590,45.590573,10.0,18,25.0,2013,7.215758e-02,...,2,629,1,NaN,0,0,A,145025.095667,2925.391759,1
9965,6612,27,2.0,59.460685,33.656790,5.0,15,19.0,1977,2.114012e-01,...,9,1892,0,NaN,0,1,B,135784.320930,2283.598335,1
9966,4116,88,2.0,46.166911,31.225909,6.0,4,9.0,1973,1.273759e-01,...,43,8429,3,NaN,3,9,B,195581.329951,4236.396290,1
9967,3322,124,1.0,36.509791,20.174542,9.0,3,12.0,1969,1.220903e-01,...,29,6566,7,1894.0,4,0,B,166649.244035,4564.508348,1
9968,6653,17,2.0,41.157437,27.489713,6.0,3,19.0,1967,0.000000e+00,...,18,3374,5,620.0,1,2,B,87265.399045,2120.282631,1
9969,9470,77,3.0,50.623669,37.129826,6.0,4,9.0,1976,6.998930e-05,...,46,10309,1,240.0,1,16,B,229768.874305,4538.763764,1
9970,1612,84,3.0,53.430413,34.603687,6.0,8,9.0,1970,1.496664e-01,...,22,4789,2,4087.0,4,1,B,220804.817110,4132.568029,1
9971,16050,67,2.0,58.629682,36.330029,9.0,19,19.0,1989,1.004557e-01,...,43,7227,0,NaN,1,6,A,228845.682509,3903.239359,1
9972,6097,6,3.0,82.147338,46.498216,10.0,17,17.0,1977,2.432045e-01,...,5,1564,0,540.0,0,0,B,222068.370598,2703.293569,1
9973,12590,115,2.0,48.201451,33.396431,8.0,15,15.0,1972,1.800000e-09,...,16,3681,73,1815.0,2,5,B,197405.312185,4095.422621,1
9974,2159,30,1.0,33.227093,32.639166,8.0,4,4.0,2016,7.815280e-05,...,22,6398,141,1046.0,3,23,B,65949.315881,1984.805442,1
9975,5071,27,2.0,60.055527,33.993491,12.0,16,16.0,1977,7.215758e-02,...,2,629,1,NaN,0,0,A,190325.071232,3169.151651,1
9976,3621,22,2.0,58.853794,33.313270,5.0,10,17.0,1977,1.185374e-01,...,30,6207,1,1183.0,1,0,B,175229.645872,2977.372115,1
9977,10650,54,2.0,38.599779,22.740244,6.0,2,12.0,1970,6.076152e-03,...,30,5285,0,645.0,6,6,B,174497.101781,4520.676142,1
9978,13725,1,2.0,67.510526,38.213277,5.0,10,17.0,1977,7.122317e-03,...,1,264,0,NaN,0,1,B,185996.664227,2755.076510,1
9979,12758,64,2.0,56.203601,34.292901,8.0,13,17.0,1988,1.356498e-01,...,46,7960,6,350.0,3,11,B,339230.931543,6035.750794,1
9980,15654,10,2.0,49.975125,32.786612,6.0,5,9.0,1972,2.827977e-01,...,33,8667,2,NaN,0,6,B,203000.197806,4062.024785,1
9981,13352,77,2.0,53.537800,30.979054,8.0,10,12.0,1977,6.998930e-05,...,46,10309,1,240.0,1,16,B,242356.408174,4526.827929,1
9982,12805,8,1.0,39.195153,22.158768,9.0,12,12.0,1968,4.378852e-01,...,23,5735,3,1084.0,0,5,B,177449.715863,4527.338286,1
9983,2705,6,2.0,64.311707,61.920700,5.0,12,17.0,2015,2.432045e-01,...,5,1564,0,540.0,0,0,B,164356.212221,2555.618868,1
9984,2237,52,3.0,64.074977,47.633428,6.0,11,11.0,1983,3.711490e-01,...,34,7065,1,750.0,2,5,B,226434.880156,3533.905001,1
9985,16159,27,1.0,38.968338,22.057418,8.0,10,17.0,1977,2.114012e-01,...,9,1892,0,NaN,0,1,B,95529.569405,2451.466339,1
9986,2996,1,2.0,64.994245,36.788976,5.0,9,22.0,1977,7.122317e-03,...,1,264,0,NaN,0,1,B,200332.511658,3082.311523,1
9987,15623,23,2.0,55.620092,31.482883,5.0,2,4.0,1977,3.465608e-02,...,0,168,0,NaN,0,0,B,115797.553006,2081.937452,1
9988,14025,53,2.0,54.167124,33.766477,8.0,5,23.0,1987,4.963726e-02,...,34,7759,0,229.0,1,3,B,261095.834383,4820.190113,1
9989,4145,96,3.0,90.055233,47.860231,11.0,26,26.0,2005,4.111635e-02,...,53,14892,4,NaN,1,4,B,441108.911237,4898.204103,1
9990,15233,1,3.0,57.373889,39.688445,5.0,2,5.0,1962,3.627009e-02,...,6,1318,1,200.0,1,1,B,163807.542987,2855.088732,1
9991,11553,3,3.0,101.622794,51.628780,12.0,18,18.0,2000,2.650887e-01,...,37,5288,0,1937.0,3,2,B,212883.501504,2094.840074,1
9992,14333,150,3.0,78.249637,49.385096,10.0,5,16.0,1976,3.003225e-01,...,52,10311,6,NaN,1,9,B,342418.758888,4375.978887,1
9993,48,13,3.0,80.631333,48.899083,10.0,11,14.0,1999,9.079910e-02,...,74,19083,2,NaN,5,15,B,350684.628560,4349.235153,1
9994,4158,23,2.0,64.864198,36.715365,5.0,17,17.0,1977,7.577876e-02,...,6,1437,3,NaN,0,2,B,171323.515653,2641.264676,1
9995,77,32,2.0,50.401785,30.476203,5.0,6,6.0,1968,1.356498e-01,...,46,7960,6,350.0,3,11,B,196684.316040,3902.328381,1
9996,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,0.000000e+00,...,30,5562,0,NaN,0,5,A,189050.289571,4553.064815,1
9997,5123,27,1.0,47.939008,27.135125,8.0,12,16.0,2015,7.215758e-02,...,2,629,1,NaN,0,0,A,159143.805370,3319.714218,1
9998,5400,75,2.0,43.602562,33.840147,8.0,1,5.0,1961,3.074667e-01,...,30,5048,9,325.0,2,5,B,181595.339808,4164.786044,1
9999,6306,128,1.0,38.666645,21.157874,8.0,7,17.0,1990,0.000000e+00,...,27,4798,0,30.0,2,8,B,218714.077615,5656.401733,1

In [73]:
for i in district_stat['DistrictId']:
    data.loc[data['DistrictId']==i, 'AvPrice_by_dist'] = district_dict[i]

In [74]:
data

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price,SquarePrice,AvPrice_by_dist
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,8.903972e-02,...,33,7976,5,NaN,0,11,B,184966.930730,3854.958571,4384.628620
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,6.998930e-05,...,46,10309,1,240.0,1,16,B,300009.450063,4567.491245,4293.480295
2,4765,53,2.0,44.947953,29.197612,5.0,8,12.0,1968,4.963726e-02,...,34,7759,0,229.0,1,3,B,220925.908524,4915.149522,4835.401165
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,4.378852e-01,...,23,5735,3,1084.0,0,5,B,175616.227217,3291.591637,3021.675025
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,1.233889e-02,...,35,5776,1,2078.0,2,4,B,150226.531644,3788.892642,3938.329635
5,12915,59,3.0,80.384479,46.683720,12.0,5,17.0,2011,3.094791e-01,...,35,7715,4,990.0,0,6,B,215898.447742,2685.822560,4746.494431
6,14549,154,2.0,62.254114,37.160377,7.0,3,5.0,1960,4.605564e-01,...,20,4386,14,NaN,1,5,B,296021.204377,4755.046491,5457.091839
7,11993,74,2.0,80.312926,45.459875,5.0,14,17.0,1977,7.577876e-02,...,6,1437,3,NaN,0,2,B,221244.156664,2754.776456,3355.343060
8,5172,1,2.0,64.511437,36.515690,5.0,9,17.0,1977,7.122317e-03,...,1,264,0,NaN,0,1,B,229102.795999,3551.351598,3213.784932
9,8649,23,1.0,46.461409,18.915552,8.0,13,17.0,2014,7.577876e-02,...,6,1437,3,NaN,0,2,B,95380.220993,2052.891285,2284.108677
10,15370,28,2.0,46.304907,27.922584,6.0,8,9.0,1973,1.185374e-01,...,30,6207,1,1183.0,1,0,B,204243.553129,4410.840392,4373.976800
11,12427,31,3.0,68.808859,45.736906,7.0,1,8.0,1959,0.000000e+00,...,23,3684,2,NaN,0,4,B,165534.541425,2405.715537,5432.578709
12,6452,13,2.0,54.522805,31.759753,5.0,8,12.0,1999,9.079910e-02,...,74,19083,2,NaN,5,15,B,229220.372609,4204.119231,4215.115104
13,2408,57,3.0,68.102739,39.311493,8.0,6,12.0,1980,1.332153e-01,...,49,11395,3,1406.0,3,4,A,252481.908323,3707.367885,4084.464328
14,10953,27,1.0,53.769097,52.408027,8.0,5,5.0,1977,7.215758e-02,...,2,629,1,NaN,0,0,A,140647.565937,2615.769530,2764.605850
15,2823,85,3.0,73.612225,53.892089,6.0,4,9.0,1979,3.717782e-02,...,52,11217,1,2300.0,1,7,B,89084.327876,1210.183882,4134.228051
16,2119,27,2.0,49.360648,31.993964,5.0,6,6.0,1983,5.181543e-02,...,5,1227,0,NaN,0,0,B,117000.381287,2370.316973,2764.605850
17,3000,34,2.0,57.969964,32.012483,9.0,6,14.0,2001,6.975336e-02,...,53,13670,4,NaN,1,11,B,231828.437667,3999.113002,4399.556339
18,2829,57,1.0,44.513481,23.113423,8.0,6,12.0,1983,1.332153e-01,...,49,11395,3,1406.0,3,4,A,183743.230464,4127.810881,4084.464328
19,4909,19,3.0,110.959792,56.996765,11.0,16,25.0,2012,9.913630e-04,...,33,6783,3,NaN,1,9,B,394895.325987,3558.904699,4232.311626
20,8862,0,3.0,103.605292,47.799426,10.0,12,17.0,2002,3.198094e-01,...,25,4756,16,2857.0,5,8,B,521919.057400,5037.571416,3710.401014
21,11935,27,2.0,64.711835,36.629122,5.0,15,17.0,1977,2.114012e-01,...,9,1892,0,NaN,0,1,B,127200.026511,1965.637764,2764.605850
22,11852,48,1.0,41.668650,20.207762,10.0,19,22.0,1996,4.112463e-02,...,46,9515,5,NaN,1,10,B,215083.969056,5161.769600,5031.626106
23,6641,54,3.0,118.907612,67.305794,10.0,2,17.0,1977,6.076152e-03,...,30,5285,0,645.0,6,6,B,571069.052600,4802.628223,4537.486720
24,7704,150,3.0,62.180536,44.169694,5.0,4,5.0,1964,2.074133e-02,...,24,5613,5,1340.0,2,5,B,241718.099527,3887.359536,4103.609211
25,5073,74,2.0,82.667915,46.792880,5.0,16,17.0,1977,7.577876e-02,...,6,1437,3,NaN,0,2,B,244145.827069,2953.332352,3355.343060
26,4378,27,3.0,106.958871,60.542396,10.0,17,17.0,2018,7.215758e-02,...,2,629,1,NaN,0,0,A,337299.867936,3153.547378,2764.605850
27,7550,23,2.0,64.556209,36.541032,5.0,8,17.0,1977,7.577876e-02,...,6,1437,3,NaN,0,2,B,173910.923723,2693.945722,2284.108677
28,8054,23,1.0,42.530043,24.073466,8.0,3,9.0,2014,3.465608e-02,...,0,168,0,NaN,0,0,B,95338.198549,2241.667096,2284.108677
29,522,11,2.0,48.372232,31.007581,6.0,4,9.0,1972,1.696760e-04,...,36,5992,0,NaN,1,1,B,213374.166403,4411.087890,4055.974766
30,89,50,2.0,39.435351,23.377687,7.0,9,9.0,1965,7.658515e-03,...,35,7077,56,2301.0,3,19,B,283877.617142,7198.556910,7098.467354
31,4785,61,1.0,41.765156,19.343186,9.0,12,16.0,1984,3.003225e-01,...,52,10311,6,NaN,1,9,B,189007.238944,4525.476721,4344.943236
32,13253,27,2.0,63.679116,37.275775,5.0,9,15.0,1977,1.764705e-02,...,2,469,0,NaN,0,0,B,178721.706337,2806.598421,2764.605850
33,13905,44,1.0,34.767227,18.209648,6.0,7,9.0,1972,3.612229e-02,...,24,4378,0,1036.0,1,1,B,154928.809938,4456.173927,4572.483767
34,8384,90,2.0,42.176782,28.085690,5.0,2,5.0,1965,2.650887e-01,...,37,5288,0,1937.0,3,2,B,176344.820406,4181.087583,4405.371817
35,6486,200,3.0,85.280389,58.447967,9.0,6,6.0,1960,0.000000e+00,...,33,7425,1,NaN,2,5,B,402871.916317,4724.086302,5247.428054
36,11703,23,1.0,41.118766,23.274634,8.0,4,17.0,1977,7.577876e-02,...,6,1437,3,NaN,0,2,B,103510.223601,2517.347521,2284.108677
37,14591,43,2.0,43.701662,26.350358,5.0,5,9.0,1961,1.501689e-02,...,17,3079,59,2890.0,0,8,B,287056.012543,6568.537689,7756.985933
38,8224,177,3.0,77.873936,48.991133,12.0,9,25.0,2012,0.000000e+00,...,36,6714,2,2672.0,0,2,B,191550.121357,2459.746237,4255.514788
39,9371,23,2.0,60.503248,34.246917,5.0,16,17.0,1977,3.465608e-02,...,0,168,0,NaN,0,0,B,229778.057902,3797.780520,2284.108677
40,10739,99,2.0,45.257139,32.613826,5.0,4,5.0,1971,3.349371e-02,...,66,10573,1,1322.0,3,8,B,171266.949427,3784.307933,3938.329635
41,1853,101,3.0,58.419816,37.275614,5.0,5,5.0,1963,2.258250e-01,...,41,6558,7,1548.0,3,2,B,197456.920814,3379.964810,4177.749766
42,9833,1,2.0,56.494318,54.723569,5.0,9,17.0,1977,7.122317e-03,...,1,264,0,NaN,0,1,B,196078.907289,3470.772192,3213.784932
43,175,23,2.0,58.692133,33.221764,5.0,16,17.0,1977,7.577876e-02,...,6,1437,3,NaN,0,2,B,184501.011225,3143.539040,2284.108677
44,10521,38,3.0,104.211396,58.987230,10.0,20,20.0,2017,6.075305e-02,...,15,2787,2,520.0,0,7,B,435462.048070,4178.641361,4715.222811
45,7008,21,2.0,48.851742,33.533432,5.0,5,5.0,1970,1.944893e-01,...,47,8004,3,125.0,3,5,B,183826.316522,3762.942908,4084.277065
46,1821,23,2.0,49.929489,28.261806,5.0,9,12.0,1977,3.465608e-02,...,0,168,0,NaN,0,0,B,88464.425395,1771.787131,2284.108677
47,14292,103,1.0,41.538138,23.292935,8.0,7,16.0,1981,1.442311e-02,...,19,3806,4,NaN,0,3,B,234052.265527,5634.635428,5010.327398
48,7596,23,1.0,47.080100,46.807989,12.0,3,9.0,1977,1.407296e-02,...,2,475,0,NaN,0,0,B,96029.167877,2039.697608,2284.108677
49,13393,98,1.0,41.270614,20.455945,7.0,8,14.0,2003,1.957811e-01,...,23,5212,6,NaN,3,2,B,214733.342258,5203.056702,4307.038776
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9950,15216,53,2.0,59.262415,37.203271,10.0,11,17.0,2016,4.963726e-02,...,34,7759,0,229.0,1,3,B,308901.352000,5212.432711,4835.401165
9951,9237,25,1.0,33.516313,31.086243,8.0,13,13.0,2015,6.975336e-02,...,53,13670,4,NaN,1,11,B,148066.435795,4417.742417,4104.398235
9952,4490,105,2.0,52.320284,32.839770,8.0,9,14.0,1979,4.024276e-02,...,25,3478,11,2729.0,3,1,B,325950.624774,6229.909345,4670.074261
9953,5365,1,2.0,61.049491,34.556110,5.0,11,17.0,1977,7.122317e-03,...,1,264,0,NaN,0,1,B,190085.168584,3113.624113,3213.784932
9954,583,27,3.0,84.250710,47.688796,10.0,15,17.0,2016,7.215758e-02,...,2,629,1,NaN,0,0,A,236647.781363,2808.852070,2764.605850
9955,2288,137,2.0,39.381630,24.092106,7.0,7,9.0,1965,4.986339e-02,...,18,3746,9,75.0,3,1,B,212498.645635,5395.882477,5726.481109
9956,10715,13,1.0,38.475794,20.461320,10.0,17,22.0,1997,9.079910e-02,...,74,19083,2,NaN,5,15,B,178752.979404,4645.855473,4215.115104
9957,4553,101,2.0,47.557663,31.239622,5.0,5,5.0,1971,2.258250e-01,...,41,6558,7,1548.0,3,2,B,195791.744727,4116.933677,4177.749766
9958,12878,46,1.0,39.143939,22.650690,8.0,14,14.0,1981,0.000000e+00,...,47,11319,0,1145.0,3,5,B,182459.513851,4661.245616,4439.876602
9959,10361,0,1.0,32.416925,19.257869,6.0,6,6.0,1963,3.198094e-01,...,25,4756,16,2857.0,5,8,B,125579.315184,3873.881224,3710.401014
9960,9307,1,2.0,57.376642,32.477151,5.0,8,25.0,2016,7.122317e-03,...,1,264,0,NaN,0,1,B,104450.496477,1820.435851,3213.784932
9961,1579,23,1.0,27.331108,15.470346,8.0,10,12.0,1977,3.465608e-02,...,0,168,0,NaN,0,0,B,60825.032060,2225.487211,2284.108677
9962,4660,158,2.0,63.131655,41.867913,8.0,9,9.0,1939,4.203159e-02,...,37,6856,84,1940.0,2,5,B,87268.098968,1382.319213,2298.367047
9963,15035,1,2.0,66.547650,37.668256,5.0,13,17.0,1977,7.122317e-03,...,1,264,0,NaN,0,1,B,184050.533213,2765.695477,3213.784932
9964,10463,27,3.0,49.574590,45.590573,10.0,18,25.0,2013,7.215758e-02,...,2,629,1,NaN,0,0,A,145025.095667,2925.391759,2764.605850
9965,6612,27,2.0,59.460685,33.656790,5.0,15,19.0,1977,2.114012e-01,...,9,1892,0,NaN,0,1,B,135784.320930,2283.598335,2764.605850
9966,4116,88,2.0,46.166911,31.225909,6.0,4,9.0,1973,1.273759e-01,...,43,8429,3,NaN,3,9,B,195581.329951,4236.396290,4358.247670
9967,3322,124,1.0,36.509791,20.174542,9.0,3,12.0,1969,1.220903e-01,...,29,6566,7,1894.0,4,0,B,166649.244035,4564.508348,5070.376523
9968,6653,17,2.0,41.157437,27.489713,6.0,3,19.0,1967,0.000000e+00,...,18,3374,5,620.0,1,2,B,87265.399045,2120.282631,5200.603941
9969,9470,77,3.0,50.623669,37.129826,6.0,4,9.0,1976,6.998930e-05,...,46,10309,1,240.0,1,16,B,229768.874305,4538.763764,4287.920204
9970,1612,84,3.0,53.430413,34.603687,6.0,8,9.0,1970,1.496664e-01,...,22,4789,2,4087.0,4,1,B,220804.817110,4132.568029,4142.946108
9971,16050,67,2.0,58.629682,36.330029,9.0,19,19.0,1989,1.004557e-01,...,43,7227,0,NaN,1,6,A,228845.682509,3903.239359,4223.628599
9972,6097,6,3.0,82.147338,46.498216,10.0,17,17.0,1977,2.432045e-01,...,5,1564,0,540.0,0,0,B,222068.370598,2703.293569,2906.592661
9973,12590,115,2.0,48.201451,33.396431,8.0,15,15.0,1972,1.800000e-09,...,16,3681,73,1815.0,2,5,B,197405.312185,4095.422621,5159.776468
9974,2159,30,1.0,33.227093,32.639166,8.0,4,4.0,2016,7.815280e-05,...,22,6398,141,1046.0,3,23,B,65949.315881,1984.805442,2847.230174
9975,5071,27,2.0,60.055527,33.993491,12.0,16,16.0,1977,7.215758e-02,...,2,629,1,NaN,0,0,A,190325.071232,3169.151651,2764.605850
9976,3621,22,2.0,58.853794,33.313270,5.0,10,17.0,1977,1.185374e-01,...,30,6207,1,1183.0,1,0,B,175229.645872,2977.372115,3738.867404
9977,10650,54,2.0,38.599779,22.740244,6.0,2,12.0,1970,6.076152e-03,...,30,5285,0,645.0,6,6,B,174497.101781,4520.676142,4537.486720
9978,13725,1,2.0,67.510526,38.213277,5.0,10,17.0,1977,7.122317e-03,...,1,264,0,NaN,0,1,B,185996.664227,2755.076510,3213.784932
9979,12758,64,2.0,56.203601,34.292901,8.0,13,17.0,1988,1.356498e-01,...,46,7960,6,350.0,3,11,B,339230.931543,6035.750794,5109.482413
9980,15654,10,2.0,49.975125,32.786612,6.0,5,9.0,1972,2.827977e-01,...,33,8667,2,NaN,0,6,B,203000.197806,4062.024785,4377.498005
9981,13352,77,2.0,53.537800,30.979054,8.0,10,12.0,1977,6.998930e-05,...,46,10309,1,240.0,1,16,B,242356.408174,4526.827929,4287.920204
9982,12805,8,1.0,39.195153,22.158768,9.0,12,12.0,1968,4.378852e-01,...,23,5735,3,1084.0,0,5,B,177449.715863,4527.338286,4022.329122
9983,2705,6,2.0,64.311707,61.920700,5.0,12,17.0,2015,2.432045e-01,...,5,1564,0,540.0,0,0,B,164356.212221,2555.618868,2906.592661
9984,2237,52,3.0,64.074977,47.633428,6.0,11,11.0,1983,3.711490e-01,...,34,7065,1,750.0,2,5,B,226434.880156,3533.905001,3089.185017
9985,16159,27,1.0,38.968338,22.057418,8.0,10,17.0,1977,2.114012e-01,...,9,1892,0,NaN,0,1,B,95529.569405,2451.466339,2764.605850
9986,2996,1,2.0,64.994245,36.788976,5.0,9,22.0,1977,7.122317e-03,...,1,264,0,NaN,0,1,B,200332.511658,3082.311523,3213.784932
9987,15623,23,2.0,55.620092,31.482883,5.0,2,4.0,1977,3.465608e-02,...,0,168,0,NaN,0,0,B,115797.553006,2081.937452,2284.108677
9988,14025,53,2.0,54.167124,33.766477,8.0,5,23.0,1987,4.963726e-02,...,34,7759,0,229.0,1,3,B,261095.834383,4820.190113,4835.401165
9989,4145,96,3.0,90.055233,47.860231,11.0,26,26.0,2005,4.111635e-02,...,53,14892,4,NaN,1,4,B,441108.911237,4898.204103,3987.220590
9990,15233,1,3.0,57.373889,39.688445,5.0,2,5.0,1962,3.627009e-02,...,6,1318,1,200.0,1,1,B,163807.542987,2855.088732,3213.784932
9991,11553,3,3.0,101.622794,51.628780,12.0,18,18.0,2000,2.650887e-01,...,37,5288,0,1937.0,3,2,B,212883.501504,2094.840074,3783.790553
9992,14333,150,3.0,78.249637,49.385096,10.0,5,16.0,1976,3.003225e-01,...,52,10311,6,NaN,1,9,B,342418.758888,4375.978887,4103.609211
9993,48,13,3.0,80.631333,48.899083,10.0,11,14.0,1999,9.079910e-02,...,74,19083,2,NaN,5,15,B,350684.628560,4349.235153,4215.115104
9994,4158,23,2.0,64.864198,36.715365,5.0,17,17.0,1977,7.577876e-02,...,6,1437,3,NaN,0,2,B,171323.515653,2641.264676,2284.108677
9995,77,32,2.0,50.401785,30.476203,5.0,6,6.0,1968,1.356498e-01,...,46,7960,6,350.0,3,11,B,196684.316040,3902.328381,5008.861902
9996,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,0.000000e+00,...,30,5562,0,NaN,0,5,A,189050.289571,4553.064815,3884.193541
9997,5123,27,1.0,47.939008,27.135125,8.0,12,16.0,2015,7.215758e-02,...,2,629,1,NaN,0,0,A,159143.805370,3319.714218,2764.605850
9998,5400,75,2.0,43.602562,33.840147,8.0,1,5.0,1961,3.074667e-01,...,30,5048,9,325.0,2,5,B,181595.339808,4164.786044,4207.483727
9999,6306,128,1.0,38.666645,21.157874,8.0,7,17.0,1990,0.000000e+00,...,27,4798,0,30.0,2,8,B,218714.077615,5656.401733,4312.127855

In [75]:
#data.to_excel('test_2.xlsx')

In [76]:
data_corr = data.corr()
data_corr

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price,SquarePrice,AvPrice_by_dist
Id,1.000000,0.012917,-0.008317,-0.005616,-0.002012,0.012274,0.001195,-0.010869,0.003386,0.018009,-0.000909,-0.002163,-0.009394,-0.003879,0.001408,-0.008812,0.009781,0.012254,0.010328
DistrictId,0.012917,1.000000,0.074999,-0.029028,-0.022940,-0.013028,-0.120465,-0.252137,-0.202993,0.065252,0.246418,0.167428,0.136079,0.304335,0.306116,0.174176,0.265065,0.386189,0.512596
Rooms,-0.008317,0.074999,1.000000,0.766622,0.714525,0.144367,-0.007500,-0.048183,-0.042062,-0.030165,0.075419,0.070500,0.013738,0.044912,0.062086,0.052323,0.571414,-0.035460,0.120289
Square,-0.005616,-0.029028,0.766622,1.000000,0.863347,0.396718,0.118091,0.203616,0.190828,-0.071398,-0.079486,-0.049480,0.022010,-0.039077,-0.033173,0.010331,0.581863,-0.197451,-0.054668
LifeSquare,-0.002012,-0.022940,0.714525,0.863347,1.000000,0.257438,0.076691,0.113088,0.151615,-0.053318,-0.076697,-0.054886,0.022536,-0.028590,-0.031951,0.007364,0.496359,-0.178410,-0.041155
KitchenSquare,0.012274,-0.013028,0.144367,0.396718,0.257438,1.000000,0.174223,0.328490,0.395529,-0.037954,-0.001461,0.028268,-0.037114,-0.049819,-0.034149,-0.006778,0.265677,-0.042506,-0.037481
Floor,0.001195,-0.120465,-0.007500,0.118091,0.076691,0.174223,1.000000,0.544418,0.286178,-0.016257,-0.045108,-0.016738,-0.002285,-0.138294,-0.065673,0.024141,0.128599,0.017284,-0.076700
HouseFloor,-0.010869,-0.252137,-0.048183,0.203616,0.113088,0.328490,0.544418,1.000000,0.475794,-0.057582,-0.158449,-0.102582,-0.005614,-0.209527,-0.159122,-0.010025,0.092938,-0.116103,-0.234848
HouseYear,0.003386,-0.202993,-0.042062,0.190828,0.151615,0.395529,0.286178,0.475794,1.000000,-0.065223,-0.047163,0.014369,-0.048812,-0.202489,-0.116064,-0.000725,0.035426,-0.165633,-0.237132
Ecology_1,0.018009,0.065252,-0.030165,-0.071398,-0.053318,-0.037954,-0.016257,-0.057582,-0.065223,1.000000,0.026357,0.009161,-0.124102,-0.043547,0.030800,-0.076830,-0.058466,-0.005492,0.017669
Social_1,-0.000909,0.246418,0.075419,-0.079486,-0.076697,-0.001461,-0.045108,-0.158449,-0.047163,0.026357,1.000000,0.955982,0.023680,0.077133,0.524543,0.526222,0.263198,0.414622,0.507332
Social_2,-0.002163,0.167428,0.070500,-0.049480,-0.054886,0.028268,-0.016738,-0.102582,0.014369,0.009161,0.955982,1.000000,0.073344,0.050458,0.473139,0.559119,0.239139,0.353649,0.425071
Social_3,-0.009394,0.136079,0.013738,0.022010,0.022536,-0.037114,-0.002285,-0.005614,-0.048812,-0.124102,0.023680,0.073344,1.000000,0.133877,0.286417,0.662112,0.074850,0.089709,0.102505
Healthcare_1,-0.003879,0.304335,0.044912,-0.039077,-0.028590,-0.049819,-0.138294,-0.209527,-0.202489,-0.043547,0.077133,0.050458,0.133877,1.000000,0.203177,0.057758,0.138755,0.243295,0.326206
Helthcare_2,0.001408,0.306116,0.062086,-0.033173,-0.031951,-0.034149,-0.065673,-0.159122,-0.116064,0.030800,0.524543,0.473139,0.286417,0.203177,1.000000,0.474044,0.253028,0.361366,0.448643
Shops_1,-0.008812,0.174176,0.052323,0.010331,0.007364,-0.006778,0.024141,-0.010025,-0.000725,-0.076830,0.526222,0.559119,0.662112,0.057758,0.474044,1.000000,0.180808,0.226109,0.272347
Price,0.009781,0.265065,0.571414,0.581863,0.496359,0.265677,0.128599,0.092938,0.035426,-0.058466,0.263198,0.239139,0.074850,0.138755,0.253028,0.180808,1.000000,0.631536,0.535833
SquarePrice,0.012254,0.386189,-0.035460,-0.197451,-0.178410,-0.042506,0.017284,-0.116103,-0.165633,-0.005492,0.414622,0.353649,0.089709,0.243295,0.361366,0.226109,0.631536,1.000000,0.753398
AvPrice_by_dist,0.010328,0.512596,0.120289,-0.054668,-0.041155,-0.037481,-0.076700,-0.234848,-0.237132,0.017669,0.507332,0.425071,0.102505,0.326206,0.448643,0.272347,0.535833,0.753398,1.000000

In [77]:
data['Healthcare_1'] = data['Healthcare_1'].fillna(-1000)

In [78]:
data = pd.get_dummies(data, columns =['Ecology_2', 'Ecology_3', 'Shops_2'])

In [79]:
#data.to_excel('test_3.xlsx')

#

###

In [80]:
from sklearn.metrics import r2_score as r2

In [81]:
def create_model(X, y, fts, model):
    X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, random_state=42)
    model.fit(X_train.loc[:, fts], y_train)
    y_train_pred = model.predict(X_train.loc[:, fts])
    y_valid_pred = model.predict(X_valid.loc[:, fts])
    return [r2(y_train, y_train_pred), r2(y_valid, y_valid_pred)]

In [82]:
data_1 = data.loc[data['Square'] < 150, :]

In [83]:
from sklearn.linear_model import LinearRegression

In [84]:
from sklearn.model_selection import train_test_split

In [85]:
#X = data.iloc[:, :-1]
#X

In [86]:
y = data['Price']
#y = data['Price']/data['Square']

In [87]:
from sklearn.preprocessing import StandardScaler

In [88]:
scaler_std = StandardScaler()

In [89]:
data.columns

Index(['Id', 'DistrictId', 'Rooms', 'Square', 'LifeSquare', 'KitchenSquare',
       'Floor', 'HouseFloor', 'HouseYear', 'Ecology_1', 'Social_1', 'Social_2',
       'Social_3', 'Healthcare_1', 'Helthcare_2', 'Shops_1', 'Price',
       'SquarePrice', 'AvPrice_by_dist', 'Ecology_2_A', 'Ecology_2_B',
       'Ecology_3_A', 'Ecology_3_B', 'Shops_2_A', 'Shops_2_B'],
      dtype='object')

In [90]:
#fts = ['Rooms', 'Square', 'LifeSquare' - , 'KitchenSquare', \
#       'Floor', 'HouseFloor', 'HouseYear', 'Ecology_1', 'Social_1', 'Social_2', \
#       'Social_3', 'Healthcare_1', 'Helthcare_2', 'Shops_1', 'AvPrice_by_dist', 'Ecology_2_A', 'Ecology_2_B', \
#       'Ecology_3_A', 'Ecology_3_B', 'Shops_2_A', 'Shops_2_B']
fts = ['Rooms', 'Square', 'Social_1', 'Healthcare_1', 'AvPrice_by_dist']

fts_sc = ['Rooms', 'Square', 'AvPrice_by_dist']

fts_nsc = ['Ecology_1', 'Healthcare_1', 'Helthcare_2', 'Shops_1', 'Ecology_2_A', 'Ecology_2_B', \
       'Ecology_3_A', 'Ecology_3_B', 'Shops_2_A', 'Shops_2_B']

#fts_1 = ['Rooms', 'LifeSquare', 'KitchenSquare', 'Floor', 'HouseFloor', 'Social_1', 'AvPrice_by_dist']
#fts = ['Social_1']

In [91]:
X = data[fts]

In [92]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.3, random_state=42)

In [93]:
#X_train_scaled = scaler_std.fit_transform(X_train[fts_sc])
#X_train_scaled

In [94]:
#X_train_scaled = pd.DataFrame(X_train_scaled, columns=X_train[fts_sc].columns)
#X_train_scaled = pd.merge(X_train_scaled, X_train[fts_nsc], how='outer')
#X_train_scaled

In [95]:
#X_valid_scaled = scaler_std.fit_transform(X_valid)

In [96]:
#X_valid_scaled = pd.DataFrame(X_valid_scaled, columns=X_valid.columns)

In [97]:
#X_train_scaled_1 = X_train_scaled[fts_1]

In [98]:
#X_valid_scaled_1 = X_valid_scaled[fts_1]

In [99]:
lr = LinearRegression()

In [100]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [101]:
y_train_pred = lr.predict(X_train)

In [102]:
r2(y_train, y_train_pred)

0.6749684853959121

In [103]:
y_valid_pred = lr.predict(X_valid)

In [104]:
r2(y_valid, y_valid_pred)

0.6413467269321691

In [105]:
create_model(X, y, fts, lr)

[0.6749684853959123, 0.6413467269321694]

### Lasso

In [106]:
from sklearn.linear_model import Lasso

In [107]:
model = Lasso(alpha=0.1)

In [108]:
create_model(X, y, fts, model)

[0.6749684853915989, 0.6413467347888566]

In [109]:
#plt.figure(figsize = (8, 6))
#plt.scatter(data['Square'], data['Price'], c=data['DistrictId'])
#plt.ylabel('Price')
#plt.xlabel('Square')

### Ridge

In [110]:
from sklearn.linear_model import Ridge

In [111]:
model = Ridge(alpha=0.05)

In [112]:
create_model(X, y, fts, model)

[0.6749684853938124, 0.6413467300090068]

### RandomForest

In [113]:
from sklearn.ensemble import RandomForestRegressor

In [114]:
from sklearn.model_selection import GridSearchCV

In [115]:
x_year = 1957
data['OldHouse'] = (data['HouseYear'] <= x_year).astype(int)
data.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Price,SquarePrice,AvPrice_by_dist,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B,OldHouse
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,...,184966.930730,3854.958571,4384.628620,0,1,0,1,0,1,0
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,...,300009.450063,4567.491245,4293.480295,0,1,0,1,0,1,0
2,4765,53,2.0,44.947953,29.197612,5.0,8,12.0,1968,0.049637,...,220925.908524,4915.149522,4835.401165,0,1,0,1,0,1,0
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,...,175616.227217,3291.591637,3021.675025,0,1,0,1,0,1,0
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,...,150226.531644,3788.892642,3938.329635,0,1,0,1,0,1,0

In [116]:
x_year2 = 1998
data['NewHouse'] = (data['HouseYear'] >= x_year2).astype(int)
data.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,SquarePrice,AvPrice_by_dist,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B,OldHouse,NewHouse
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,...,3854.958571,4384.628620,0,1,0,1,0,1,0,0
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,...,4567.491245,4293.480295,0,1,0,1,0,1,0,0
2,4765,53,2.0,44.947953,29.197612,5.0,8,12.0,1968,0.049637,...,4915.149522,4835.401165,0,1,0,1,0,1,0,0
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,...,3291.591637,3021.675025,0,1,0,1,0,1,0,0
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,...,3788.892642,3938.329635,0,1,0,1,0,1,0,0

In [117]:
fts = ['Rooms', 'Square', 'LifeSquare', 'KitchenSquare', \
       'Floor', 'HouseFloor', 'HouseYear', 'Ecology_1', 'Social_1', \
       'Helthcare_2', 'Shops_1', 'AvPrice_by_dist', 'Ecology_2_A', 'Ecology_2_B', \
       'Ecology_3_A', 'Ecology_3_B', 'Shops_2_A', 'Shops_2_B', 'OldHouse', 'NewHouse']

In [118]:
params = [{'n_estimators': [300], 
               'max_features': [10],
               'max_depth': [12]}]

In [119]:
rf_reg = GridSearchCV(estimator=RandomForestRegressor(random_state=100, min_samples_leaf=2, n_jobs=-1),
                     param_grid = params,
                     scoring='r2',
                     cv=5)

In [120]:
data_1 = data.loc[data['LifeSquare'] < 100, :]
data_1.shape

(9970, 27)

In [121]:
#X_rf = data_1[fts]

In [122]:
X_rf = data_1.loc[:, fts]

In [123]:
X_train, X_valid, y_train, y_valid = train_test_split(X_rf, data_1['Price'], test_size=0.3, random_state=42)

In [124]:
rf_reg.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=2, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=-1,
           oob_score=False, random_state=100, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid=[{'n_estimators': [300], 'max_features': [10], 'max_depth': [12]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='r2', verbose=0)

In [125]:
rf_reg.best_params_

{'max_depth': 12, 'max_features': 10, 'n_estimators': 300}

In [126]:
y_valid_pred = rf_reg.predict(X_valid)

In [127]:
y_pred = rf_reg.predict(X_train)

In [128]:
r2(y_train, y_pred)

0.9042576694835269

In [129]:
r2(y_valid, y_valid_pred)

0.7666166958748242

###

In [130]:
test = pd.read_csv('Python for DS/Final project/test.csv')

In [131]:
test.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2
0,725,58,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,B,B,11,2748,1,NaN,0,0,B
1,15856,74,2.0,69.263183,NaN,1.0,6,1.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B
2,5480,190,1.0,13.597819,15.948246,12.0,2,5.0,1909,0.000000,B,B,30,7538,87,4702.0,5,5,B
3,15664,47,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,B,B,23,4583,3,NaN,3,3,B
4,14275,27,1.0,47.527111,43.387569,1.0,17,17.0,2017,0.072158,B,B,2,629,1,NaN,0,0,A

In [132]:
test.shape

(5000, 19)

In [133]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 19 columns):
Id               5000 non-null int64
DistrictId       5000 non-null int64
Rooms            5000 non-null float64
Square           5000 non-null float64
LifeSquare       3959 non-null float64
KitchenSquare    5000 non-null float64
Floor            5000 non-null int64
HouseFloor       5000 non-null float64
HouseYear        5000 non-null int64
Ecology_1        5000 non-null float64
Ecology_2        5000 non-null object
Ecology_3        5000 non-null object
Social_1         5000 non-null int64
Social_2         5000 non-null int64
Social_3         5000 non-null int64
Healthcare_1     2623 non-null float64
Helthcare_2      5000 non-null int64
Shops_1          5000 non-null int64
Shops_2          5000 non-null object
dtypes: float64(7), int64(9), object(3)
memory usage: 683.6+ KB

In [134]:
test.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1
count,5000.000000,5000.000000,5000.000000,5000.000000,3959.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,2623.000000,5000.00000,5000.000000
mean,8412.595400,51.279200,1.910000,56.449500,36.158810,5.976800,8.632000,12.601000,1984.392600,0.119874,24.933800,5406.900000,8.262600,1146.657263,1.31940,4.242800
std,4832.674037,44.179466,0.838594,19.092787,17.825287,9.950018,5.483228,6.789213,18.573149,0.120070,17.532202,4026.614773,23.863762,1044.744231,1.47994,4.777365
min,1.000000,0.000000,0.000000,1.378543,0.333490,0.000000,1.000000,0.000000,1908.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.00000,0.000000
25%,4221.750000,21.000000,1.000000,41.906231,23.092026,1.000000,4.000000,9.000000,1973.000000,0.019509,6.000000,1564.000000,0.000000,325.000000,0.00000,1.000000
50%,8320.500000,37.000000,2.000000,52.921340,32.925087,6.000000,7.000000,12.000000,1977.000000,0.072158,25.000000,5285.000000,2.000000,900.000000,1.00000,3.000000
75%,12598.250000,77.000000,2.000000,66.285129,45.174091,9.000000,12.000000,17.000000,2000.000000,0.195781,36.000000,7287.000000,5.000000,1548.000000,2.00000,6.000000
max,16795.000000,212.000000,17.000000,223.453689,303.071094,620.000000,78.000000,99.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.00000,23.000000

In [135]:
square_stat

Rooms
1.0     41.305254
2.0     56.513139
3.0     76.977042
4.0     98.377544
5.0    123.447192
6.0    212.932361
Name: Square, dtype: float64

In [136]:
test.loc[test['Rooms'] > 5, :]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2
2071,10793,23,6.0,110.750226,NaN,0.0,2,2.0,2015,0.014073,B,B,2,475,0,NaN,0,0,B
3217,4058,27,6.0,223.453689,104.113552,16.0,2,2.0,2017,0.041116,B,B,53,14892,4,NaN,1,4,B
3398,1435,111,17.0,52.866107,32.528342,8.0,15,17.0,1987,0.093443,B,B,23,4635,5,3300.0,2,4,B

In [137]:
test.loc[test['Id'] == 10793, 'Rooms'] = 5

In [138]:
test.loc[test['Id'] == 1435, 'Rooms'] = 2

In [139]:
test.loc[test['Rooms'] == 0, :]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2
2406,3343,58,0.0,116.824201,113.692424,0.0,3,3.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B
2524,10729,27,0.0,76.345154,42.820796,12.0,14,0.0,1977,0.017647,B,B,2,469,0,NaN,0,0,B

In [140]:
test.loc[test['Id'] == 3343, 'Rooms'] = 5
test.loc[test['Id'] == 10729, 'Rooms'] = 3

In [141]:
test.loc[test['Square'] < 15]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2
2,5480,190,1.0,13.597819,15.948246,12.0,2,5.0,1909,0.000000,B,B,30,7538,87,4702.0,5,5,B
66,9011,53,1.0,1.378543,1.353573,1.0,1,1.0,1977,0.049637,B,B,34,7759,0,229.0,1,3,B
608,16401,30,1.0,2.645046,4.338755,1.0,2,1.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B
837,2138,27,1.0,5.647458,1.501582,1.0,1,1.0,1977,0.017647,B,B,2,469,0,NaN,0,0,B
1165,10120,6,1.0,5.100672,3.861780,1.0,3,1.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B
3697,15435,21,1.0,13.305531,9.495367,0.0,6,5.0,1965,0.194489,B,B,47,8004,3,125.0,3,5,B
4490,1165,27,1.0,2.372101,1.899119,1.0,2,17.0,1977,0.011654,B,B,4,915,0,NaN,0,0,B
4540,7855,6,1.0,4.967143,2.968086,1.0,3,1.0,2018,0.243205,B,B,5,1564,0,540.0,0,0,B
4713,170,6,2.0,2.900586,61.468563,1.0,18,17.0,2014,0.243205,B,B,5,1564,0,540.0,0,0,B
4902,1420,45,1.0,1.975769,2.900371,1.0,1,1.0,1977,0.195781,B,B,23,5212,6,NaN,3,2,B

In [142]:
test.loc[(test['Square'] < 15) & (test['LifeSquare'] > 15), 'Square'] = test['LifeSquare']

In [143]:
test.loc[(test['Square'] < 15) & (test['Rooms'] == 1), 'Square'] = square_stat[1]

In [144]:
test.loc[(test['Square'] < 15) & (test['Rooms'] == 2), 'Square'] = square_stat[2]

In [145]:
test['LifeSquare'] = test['LifeSquare'].fillna(100000)

In [146]:
LifeSquare_portion

Rooms
1.0    0.566034
2.0    0.603486
3.0    0.634478
4.0    0.636041
5.0    0.746853
6.0    0.746853
dtype: float64

In [147]:
for i in range(6):
    test.loc[(test['Square'] < test['LifeSquare']) & test['Rooms'] == (i+1), 'LifeSquare'] = LifeSquare_portion[i+1] * \
    test['Square']

In [148]:
for i in range(6):
    test.loc[(test['LifeSquare'] < 10) & test['Rooms'] == (i+1) , 'LifeSquare'] = LifeSquare_portion[i+1] * test['Square']

In [149]:
test.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,2623.000000,5000.00000,5000.000000
mean,8412.595400,51.279200,1.908400,56.520294,35.105844,5.976800,8.632000,12.601000,1984.392600,0.119874,24.933800,5406.900000,8.262600,1146.657263,1.31940,4.242800
std,4832.674037,44.179466,0.810519,18.973090,13.929013,9.950018,5.483228,6.789213,18.573149,0.120070,17.532202,4026.614773,23.863762,1044.744231,1.47994,4.777365
min,1.000000,0.000000,1.000000,15.948246,10.273109,0.000000,1.000000,0.000000,1908.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.00000,0.000000
25%,4221.750000,21.000000,1.000000,41.912403,23.786028,1.000000,4.000000,9.000000,1973.000000,0.019509,6.000000,1564.000000,0.000000,325.000000,0.00000,1.000000
50%,8320.500000,37.000000,2.000000,52.924953,32.780351,6.000000,7.000000,12.000000,1977.000000,0.072158,25.000000,5285.000000,2.000000,900.000000,1.00000,3.000000
75%,12598.250000,77.000000,2.000000,66.285129,43.386424,9.000000,12.000000,17.000000,2000.000000,0.195781,36.000000,7287.000000,5.000000,1548.000000,2.00000,6.000000
max,16795.000000,212.000000,6.000000,223.453689,136.921090,620.000000,78.000000,99.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.00000,23.000000

In [150]:
for i in range(5):
    test.loc[(test['KitchenSquare'].between(0, 4)) & (test['Rooms'] == (i+1)) \
             , 'KitchenSquare'] = KitchenSquare_stat[i+1]

In [151]:
for i in range(5):
    test.loc[(test['KitchenSquare'] > test['Square'] * 0.5) & (test['Rooms'] == (i+1)) \
             , 'KitchenSquare'] = KitchenSquare_stat[i+1]

In [152]:
test.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,2623.000000,5000.00000,5000.000000
mean,8412.595400,51.279200,1.908400,56.520294,35.105844,7.737400,8.632000,12.601000,1984.392600,0.119874,24.933800,5406.900000,8.262600,1146.657263,1.31940,4.242800
std,4832.674037,44.179466,0.810519,18.973090,13.929013,2.438859,5.483228,6.789213,18.573149,0.120070,17.532202,4026.614773,23.863762,1044.744231,1.47994,4.777365
min,1.000000,0.000000,1.000000,15.948246,10.273109,5.000000,1.000000,0.000000,1908.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.00000,0.000000
25%,4221.750000,21.000000,1.000000,41.912403,23.786028,6.000000,4.000000,9.000000,1973.000000,0.019509,6.000000,1564.000000,0.000000,325.000000,0.00000,1.000000
50%,8320.500000,37.000000,2.000000,52.924953,32.780351,8.000000,7.000000,12.000000,1977.000000,0.072158,25.000000,5285.000000,2.000000,900.000000,1.00000,3.000000
75%,12598.250000,77.000000,2.000000,66.285129,43.386424,9.000000,12.000000,17.000000,2000.000000,0.195781,36.000000,7287.000000,5.000000,1548.000000,2.00000,6.000000
max,16795.000000,212.000000,6.000000,223.453689,136.921090,42.000000,78.000000,99.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.00000,23.000000

In [153]:
test.loc[test['HouseFloor'].between(0, 2), 'HouseFloor'] = HouseFloor_mode

In [154]:
test.loc[test['HouseYear'] > 2019, 'HouseYear'] = HouseYear_mode

In [155]:
test.loc[test['HouseFloor'] < test['Floor'], 'HouseFloor'] = test['Floor']

In [156]:
test.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,2623.000000,5000.00000,5000.000000
mean,8412.595400,51.279200,1.908400,56.520294,35.105844,7.737400,8.632000,14.05620,1984.315200,0.119874,24.933800,5406.900000,8.262600,1146.657263,1.31940,4.242800
std,4832.674037,44.179466,0.810519,18.973090,13.929013,2.438859,5.483228,5.95971,18.514092,0.120070,17.532202,4026.614773,23.863762,1044.744231,1.47994,4.777365
min,1.000000,0.000000,1.000000,15.948246,10.273109,5.000000,1.000000,3.00000,1908.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.00000,0.000000
25%,4221.750000,21.000000,1.000000,41.912403,23.786028,6.000000,4.000000,9.00000,1973.000000,0.019509,6.000000,1564.000000,0.000000,325.000000,0.00000,1.000000
50%,8320.500000,37.000000,2.000000,52.924953,32.780351,8.000000,7.000000,15.00000,1977.000000,0.072158,25.000000,5285.000000,2.000000,900.000000,1.00000,3.000000
75%,12598.250000,77.000000,2.000000,66.285129,43.386424,9.000000,12.000000,17.00000,2000.000000,0.195781,36.000000,7287.000000,5.000000,1548.000000,2.00000,6.000000
max,16795.000000,212.000000,6.000000,223.453689,136.921090,42.000000,78.000000,99.00000,2019.000000,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.00000,23.000000

In [157]:
test = test.assign(AvPrice_by_dist=1)

In [158]:
for i in district_stat['DistrictId']:
    test.loc[test['DistrictId']==i, 'AvPrice_by_dist'] = district_dict[i]

In [159]:
test.loc[test['AvPrice_by_dist'] == 1, 'AvPrice_by_dist'] = data['SquarePrice'].mean()

In [160]:
test = pd.get_dummies(test, columns =['Ecology_2', 'Ecology_3', 'Shops_2'])

In [161]:
test['OldHouse'] = (test['HouseYear'] <= x_year).astype(int)
test.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Helthcare_2,Shops_1,AvPrice_by_dist,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B,OldHouse
0,725,58,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,...,0,0,3021.675025,0,1,0,1,0,1,0
1,15856,74,2.0,69.263183,39.205341,5.0,6,17.0,1977,0.075779,...,0,2,3355.343060,0,1,0,1,0,1,0
2,5480,190,1.0,15.948246,15.948246,8.0,2,5.0,1909,0.000000,...,5,5,7919.443196,0,1,0,1,0,1,1
3,15664,47,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,...,3,3,4116.345095,0,1,0,1,0,1,0
4,14275,27,1.0,47.527111,43.387569,8.0,17,17.0,2017,0.072158,...,0,0,2764.605850,0,1,0,1,1,0,0

In [162]:
test['NewHouse'] = (test['HouseYear'] >= x_year2).astype(int)
test.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,Shops_1,AvPrice_by_dist,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B,OldHouse,NewHouse
0,725,58,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,...,0,3021.675025,0,1,0,1,0,1,0,0
1,15856,74,2.0,69.263183,39.205341,5.0,6,17.0,1977,0.075779,...,2,3355.343060,0,1,0,1,0,1,0,0
2,5480,190,1.0,15.948246,15.948246,8.0,2,5.0,1909,0.000000,...,5,7919.443196,0,1,0,1,0,1,1,0
3,15664,47,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,...,3,4116.345095,0,1,0,1,0,1,0,1
4,14275,27,1.0,47.527111,43.387569,8.0,17,17.0,2017,0.072158,...,0,2764.605850,0,1,0,1,1,0,0,1

In [170]:
pred_test = rf_reg.predict(test.loc[:, fts])

In [171]:
test['Price'] = pred_test

In [172]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 26 columns):
Id                 5000 non-null int64
DistrictId         5000 non-null int64
Rooms              5000 non-null float64
Square             5000 non-null float64
LifeSquare         5000 non-null float64
KitchenSquare      5000 non-null float64
Floor              5000 non-null int64
HouseFloor         5000 non-null float64
HouseYear          5000 non-null int64
Ecology_1          5000 non-null float64
Social_1           5000 non-null int64
Social_2           5000 non-null int64
Social_3           5000 non-null int64
Healthcare_1       2623 non-null float64
Helthcare_2        5000 non-null int64
Shops_1            5000 non-null int64
AvPrice_by_dist    5000 non-null float64
Ecology_2_A        5000 non-null uint8
Ecology_2_B        5000 non-null uint8
Ecology_3_A        5000 non-null uint8
Ecology_3_B        5000 non-null uint8
Shops_2_A          5000 non-null uint8
Shops_2_B          5000 non-null uint8
OldHouse           5000 non-null int32
NewHouse           5000 non-null int32
Price              5000 non-null float64
dtypes: float64(9), int32(2), int64(9), uint8(6)
memory usage: 771.5 KB

In [173]:
test.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,...,AvPrice_by_dist,Ecology_2_A,Ecology_2_B,Ecology_3_A,Ecology_3_B,Shops_2_A,Shops_2_B,OldHouse,NewHouse,Price
0,725,58,2.0,49.882643,33.432782,6.0,6,14.0,1972,0.310199,...,3021.675025,0,1,0,1,0,1,0,0,157877.192448
1,15856,74,2.0,69.263183,39.205341,5.0,6,17.0,1977,0.075779,...,3355.343060,0,1,0,1,0,1,0,0,224573.424132
2,5480,190,1.0,15.948246,15.948246,8.0,2,5.0,1909,0.000000,...,7919.443196,0,1,0,1,0,1,1,0,242967.775792
3,15664,47,2.0,73.046609,51.940842,9.0,22,22.0,2007,0.101872,...,4116.345095,0,1,0,1,0,1,0,1,309086.905138
4,14275,27,1.0,47.527111,43.387569,8.0,17,17.0,2017,0.072158,...,2764.605850,0,1,0,1,1,0,0,1,143604.899268

In [176]:
test.loc[:, ['Id', 'Price']].to_csv('RIskhakov_predictions.csv', index=None)